<img src'http://baogao.co/img/baogao.png'><br>
<span style='color:#5F9EA0'><h1>안녕하세요,</h1></span>
    <br>
    <br>
    아래와 같이 임시 비밀번호가 발급되었습니다.:
    <br>
    <br>
    <br>
    <h2><b>{password}</b></h2><br>
    <br>
    해당 비밀번호를 계속 사용하실 수 있으나, 가급적이면 마이페이지/개인정보변경 메뉴를 통하여 비밀번호를 변경해주시기 바랍니다.<br>
    Baogao를 이용해주셔서 감사합니다. :)<br>
    <br>
    <br>
    감사합니다,<br>
    Baogao 운영진
