/*@font-face {
	font-family: 'KBIZ';
	src: url('/fonts/KBIZ.woff');
}*/
 /* #f9fefb; */
@import url(http://fonts.googleapis.com/earlyaccess/notosanssc.css);

@media screen{
	*{
        margin: 0px;
        outline: none;

        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }

	::-moz-selection { 
		background: #168046;
		color: #fcfcfc;
	}
	::selection {
		background: #168046;
		color: #fcfcfc;
	}

	.ui-autocomplete {
		max-height: 220px;
		overflow-y: auto;
		/* prevent horizontal scrollbar */
		overflow-x: hidden;
        -webkit-transition: all 0s ease-in-out;
        -moz-transition: all 0s ease-in-out;
        transition: all 0s ease-in-out;
	}

	.slick-prev, .slick-next, .slick-prev *, .slick-next * {		
        -webkit-transition: all 0s ease-in-out;
        -moz-transition: all 0s ease-in-out;
        transition: all 0s ease-in-out;
	}

	.ui-autocomplete .ui-menu-item{
		padding: 8px 0px 8px 10px;
		border: 1px solid transparent;
	}

    img{
        border: none;
    }   
    
    textarea{
        resize: none;
    }
    
    html {
        height:100%;
        width:100%;
        padding:0px;
    }
    
    /*body *{
        overflow: hidden;
    }*/

    
    body{
        margin: 0px;
        padding: 0px;
        height: 100%;
        width: 100%;
		font-family: 'Noto Sans SC', sans-serif;
        /*font-family: sans-serif;*/
        overflow-x: hidden; 
        color: #231f20;
		background-color: #fcfcfc;
	}
	
	.wrapper{
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
		position: relative;
		left: 0px;
		-webkit-transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000); 
		-moz-transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000); 
		-o-transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000); 
		transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000);
	}

	ul {
		list-style: none;
	}

	a {
		text-decoration: none;
		color:#231f20;
	}

	
    .step-left{
        opacity: 0;
        position: absolute;
        left: 50%;

        /*-moz-transform: translateX(-75%);
        -webkit-transform: translateX(-75%);
        -o-transform: translateX(-75%);
        -ms-transform: translateX(-75%);
        transform: translateX(-75%);*/

        -moz-transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);

        -webkit-transition: all 0s ease-in-out;
        -moz-transition: all 0s ease-in-out;
        transition: all 0s ease-in-out;

        -webkit-transition: opacity 0.2s ease-in-out;
        -moz-transition: opacity 0.2s ease-in-out;
        transition: opacity 0.2s ease-in-out;
        
    }

    .step-right{
        opacity: 0;
        position: absolute;
        left: 50%;

        /*-moz-transform: translateX(75%);
        -webkit-transform: translateX(75%);
        -o-transform: translateX(75%);
        -ms-transform: translateX(75%);
        transform: translateX(75%);*/

        -moz-transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);

        -webkit-transition: all 0s ease-in-out;
        -moz-transition: all 0s ease-in-out;
        transition: all 0s ease-in-out;

        -webkit-transition: opacity 0.2s ease-in-out;
        -moz-transition: opacity 0.2s ease-in-out;
        transition: opacity 0.2s ease-in-out;
    }

    .step-now{
        position: relative;

        -moz-transform: translateX(0);
        -webkit-transform: translateX(0);
        -o-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
        -webkit-transition: all 0s ease-in-out;
        -moz-transition: all 0s ease-in-out;
        transition: all 0s ease-in-out;

        -webkit-transition: opacity 0.2s ease-in-out;
        -moz-transition: opacity 0.2s ease-in-out;
        transition: opacity 0.2s ease-in-out;

    }

    .popup{
        width: 100%;
        height: 100%;
        position: fixed;
        display: block;
        z-index: 700;
        /*-webkit-transition: opacity 0.1s ease-in-out;
        -moz-transition: opacity 0.1s ease-in-out;
        transition: opacity 0.1s ease-in-out;*/
        
        -webkit-animation: fadein 0.25s ease-in-out; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: fadein 0.25s ease-in-out; /* Firefox < 16 */
        -ms-animation: fadein 0.25s ease-in-out; /* Internet Explorer */
        -o-animation: fadein 0.25s ease-in-out; /* Opera < 12.1 */
        animation: fadein 0.25s ease-in-out;
        background-color: rgba(0, 0, 0, 0.5);
        
    }

    .popup + .popup{

        /*background-color: rgba(0, 0, 0, 0.3);*/
        background-color: transparent;
    }

    .popup>div{
        z-index: 701;
        background-color: #FFFFFF;
        /*border: 2px solid #7b7c80;*/
        /*border-radius: 10px;*/
        box-shadow: 1px 1px 5px #7b7c80;
        margin-top: 120px;
        /*width: auto;*/
        height: auto;
        max-width: 1024px;
        margin-left: auto;
        margin-right: auto;
        /*padding: 20px;*/

        /*position: absolute;
        left: 0;
        top: 120px;*/

        -webkit-animation: toptobottom 0.5s ease-in-out; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: toptobottom 0.5s ease-in-out; /* Firefox < 16 */
        -ms-animation: toptobottom 0.5s ease-in-out; /* Internet Explorer */
        -o-animation: toptobottom 0.5s ease-in-out; /* Opera < 12.1 */
        animation: toptobottom 0.5s ease-in-out;
    }

    .popup > div.selected{
        display: block;
        
        -moz-transform: translateX(0);
        -webkit-transform: translateX(0);
        -o-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
    .popup > div.before{
        display: block;
        
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        -o-transform: translateX(100%);
        -ms-transform: translateX(100%);
        transform: translateX(100%);
        opacity: 0;
    }
    
    .popup > div.after{
        display: block;
        
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        transform: translateX(-100%);
        opacity: 0;
    }

	.popup .popup-title{
		display: block;
		font-weight: 700;
		font-size: 1.5em;
		margin: 20px 0px;
	}

	.popup .popup-subTitle{
		display: block;
		font-weight: 400;
		font-size: 1.3em;
		margin: 10px 0px;
	}

	.popup .popup-button{
		display: inline-block;
		border: none;
		/*padding: 10px 20px;*/
		padding: 15px 20px;
		background-color: #168046;
		color: #fff;
		/*margin: 20px 0px;*/
		margin: 40px 0px;
		margin-bottom: 20px;
		font-size: 1em;
		cursor: pointer;
	}

	.popup .popup-input-text{
		
		display: inline-block;
		/*border: 1px solid #7b7c80;*/
		border: 1px solid #ddd;
		/*padding: 10px 20px;*/
		padding: 15px 20px;
		color: #231f20;
		margin: 2px 0px;
	}

	
	/* 혜경 인증창 시작 */
	#popup_authStart > .step-now {
		width: 100%;
		max-width: 500px !important;
		height: auto;
		padding: 0;
		/*box-shadow: 0 5px 20px #3d3d3d;*/
	}

	.form-auth .popup-title {
		width: 100%;
		height: 60px;
		margin: 0;
		padding-left: 30px;
		line-height: 60px;
		background: #168046;
		color: #fff;
	}

	.form-auth .popup-title i {
		float: right;
		padding-right: 30px;
		line-height: 60px;
		cursor: pointer;
		z-index: 10000;
	}

	.form-auth .popup-content {
		padding: 30px;
	}

	.popup-content .popup-subTitle {
		margin-top: 20px;
	}

	.form-auth .auth-user_email, 
	.form-auth .auth-school_email, 
	.form-auth .popup-button {
		width: 100%;
		height: auto;
		margin: 0 auto;
	}
	.auth-user_email, .auth-school_email {
		border: 1px solid #ddd;
	}

	/* 혜경 인증창 끝 */
	/* 혜경 공지사항 시작 */
	.howtoUse {
		width: 80%;
		/*max-width: 370px;*/
		height: auto;
		max-height: 80%;
		position: absolute;
		left: 30px; top: 10px;
		font-size: 1em;
		overflow-y: scroll;
		user-select: none;		
	}
	.howtoUse .close::after {
		display: block;
		position: absolute;
		top: 15px; right: 15px;
  		content: "\00d7";
		cursor: pointer;
	}

	.howtoUse h3 {
		display: inline-block;
		border-bottom: 1px solid #168046;
		font-size: 1.3em;
		font-weight: 500;
	}

	.howtoUse .popup-subTitle {
		padding: 0;
		list-style: disc;
		margin-top: 20px;
		font-weight: 400;
		font-size: 1.2em;
	}
	.howtoUse .popup-subTitle li {
		margin-left: 30px;
		font-size: 0.8em;
		text-align: justify;
	}
	.howtoUse .statement {
		padding-left: 0;
		margin-top: 20px;
		color: #3d3d3d;
		font-weight: 200;
		font-size: 0.8em;
	}
	.statement h4 {
		text-align: center;
		font-weight: 200;
	}
	.statement li {
		margin: 10px 20px 0 20px;
		text-align: justify;
	}
	.howtoUse .popup-close {
		float: right;
		font-size: 0.8em;
		color: #555;
	}
	.popup-close label #pop-day {
		position: relative;
		vertical-align: middle;
		bottom: 1px;
	}
	.howtoUse .popup-button {
		margin-left: 20px;
	}


	/* 혜경 공지사항 끝 */


	.curve{
		position: absolute;
		top: -70px;
		height: 70px;
		width: 100%;
	}

	.header{
		width: 100%;
		height: 50px;
		position: relative;
	}

	.header .container{
		height: 100%;
	}

	.header .header-side, .header .header-back{
		width: 50px;
		height: 100%;
		float: left;
		cursor: pointer;
		display: none;
		/* border-right: 1px solid #d8d8d8; */
	}

	.header .header-side i, .header .header-back i{
		width: 100%;
		height: 100%;
		line-height: 50px;
		text-align: center;
	}

	.header .header-logo{
		width: 100px;
		height: 100%;
		position: relative;
		z-index: 10;
		/* background-image: url(/img/baogao_white.png); */
		/* background-color: #d8d8d8; */
		background-image: url(/img/baogao_green.png); 
		background-size: 90% auto;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		cursor: pointer;
		float: left;
		/* border-right: 1px solid #d8d8d8; */
		/* background-color: #08c1ce; */
		/* vertical-align: top; */
	}

	.header .header-menu{
		/* width: 100%; */
		/* height: 70%; */
		height: 100%;
		/* display: block; */
		float: left;
		position: relative;
		/* padding-left: 100px; */
		text-align: left;
		/* background-color: #168046;  */
	}

	.header .header-menu a{
		/* vertical-align: middle; */
		line-height: 50px; 
		height: 100%;
		font-size: 1em;
		font-weight: 400;
		display: inline-block;
		border-bottom: 2px solid transparent;
		
		padding: 0px 10px;
	}

	.header .header-menu a:hover{
		border-bottom: 2px solid #168046;
		/* background-color: #168046; */
		/* color: #fcfcfc; */
		/* background-color: #ee008c; */
	}

	.header .header-account{
		/* width: 100%;
		height: 30%; */
		width: 50px;
		text-align: center;
		height: 100%;
		/* display: block; */
		float: right;
		position: relative;
		border-left: 1px solid #d8d8d8;
		/* padding-left: 100px; */
		/* text-align: right; */
		/* background-color: #872434;  */
		background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0.01) 100%);
		background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.01) 100%);
		background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,0.01) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#03000000',GradientType=1 );
	}

	.header .header-account a{
		font-size: 0.8em;
		line-height: 50px;
	}

	.fixed_header{
		width: 100%;
		height: auto;
		padding: 20px 0px;
		position: fixed;
		z-index: 500;
		background-color: #fcfcfc;
		display: block;
		transform: translateY(0);
		border-top: 1px solid #168046;
		text-align: right;
	}

	.fixed_header.invisible{
		/*display: none;*/
		transform: translateY(-100%);
	}

	.fixed_header .fixed_header-logo{
		width: auto;
		height: 40px;
		vertical-align: middle;
		cursor: pointer;
		float: left;
	}

	/* 혜경 header menu 시작 */
	.fixed_header nav {
		float: right;
		/*width: 50%;*/
		vertical-align: middle;
	}
	.fixed_header nav .menus {
		/*width: 100%;*/
	}
	.fixed_header nav .menus li.menu1, .fixed_header nav .menus li.menu2{
		text-align: center;
		display: inline-block;
		/*width: 50%;*/
		width: auto;
	}
	.fixed_header nav .menus li.menu1 a {
		padding-right: 2em;
	}
	
	.fixed_header nav .menus li.menu2 a {
		background: #168046;
		text-align: center;
		padding: 10px 15px;
		color: #fff;
	}
	nav .menus li a {
		padding: 0 1em;
		/*height: 40px;*/
		/*color: #168046;*/
		color: #3d3d3d;
		cursor: pointer;
		font-size: 100%;
		font-weight: 400;
		margin-left: 40px;
		margin: 0;
		line-height: 40px;
		word-break: keep-all;
		white-space: nowrap;
	}

	nav .menus li:hover a {
		/*color: #20a95e;*/
		opacity: 0.8;
	}

	/* 혜경 header 끝 */

	/* 혜경 공지알림 시작 */
	.alertWrap {
		width: 100%;
		height: 230px;
		text-align: center;
		background: rgba(25, 25, 25, 0.9);
		/*cursor: pointer;*/
		user-select: none;
		word-break: keep-all;
		display: none;
	}
	.alertWrap .alert-logo {
		width: 100%;
		height: auto;
		padding-top: 15px;
	}
	.alert-logo img {
		height: 2.5em;
	}

	.alertWrap .text {
		color: #a2a2a2;
	}

	.text h3 {
		font-size: 1.3em;
		font-weight: 500;
		color: #fff;
		margin-bottom: 10px;
	}
	.text p {
		margin-top: 10px;
	}

	.alertClose {
		color: #a2a2a2;
		float: right;
		margin-right: 20px;
		font-size: 0.9em;
		z-index: 100;
		margin-top: 5px;
	}
	.alertClose label {
		cursor: pointer;
		position: relative;
		vertical-align: top;
		bottom: 1px;
	}
	.alertClose input {
		cursor: pointer;
	}
	
	/* 혜경 공지알림 끝 */

	.intro{
		width: 100%;
		/*height: 600px;*/
		/*background-color: #00664f;*/
		/*background-color: #5f80b6;*/
		/* background-color: #168046; */
		position: relative;
		/*background-image: url('/img/back3.jpg');*/
		background-size: cover;
		background-position: center bottom;
		position: relative;
		background-repeat: no-repeat;
		/*text-align: center;*/
		z-index: 1;
		color: #fcfcfc; 
	}

	.intro .container{
		padding: 20px 10px 0px 10px;
		/*background-image: url('/img/back4.jpg');*/
		background-size: auto 100%;
		background-position: 50% 20%;
		background-repeat: no-repeat;
		position: relative;
		z-index: -12;
		text-align: center;
	}

	.intro .intro-logo{
		font-size: 2.6em;
		font-weight: 100;
		display: block;
		/*cursor: pointer;*/
		text-align: right;
		position: relative;
	}
	.intro .intro-logo img {
		cursor: pointer;
		display: block;
		float: left;
		position: relative;
	}

	/* 혜경 main menu 시작 */
	
	.intro nav {
		display: block;
		float: right;
		/* position: absolute; */
		/* right: 0; top: 50%; */
		/* transform: translateY(-50%); */
	}
	.intro .menus {
		float: right;
		font-size: 0.4em;
	}
	.intro .menus li.menu1, .intro .menus li.menu2{
		text-align: center;
		display: inline-block;
	}
	.intro .menus li a {
		color: #fff;
	}		
	.intro .menus li.menu1 a {
		padding-right: 1.6em;
	}
	.intro .menus li.menu2 a {
		background: #fff;
		color: #168046;
		padding: 10px 15px;
	}
	
	.menus .bars{
		display: none;
		width: auto;
		padding: 10px 15px;
		
	}

	

	/* 혜경 main menu 끝 */

	.intro .intro-title{
		/*margin-top: 36px;
		padding-bottom: 12px;*/
		width: auto;
		height: auto;
		display: inline-block;
		font-size: 2.5em;
		font-weight: 400;
		/*background-color: rgba(240, 240, 240, 0.5)*/
	}


	.intro .intro-content{
		width: 100%;
		height: auto;
		display: block;
		text-align: center;
		font-size: 1.8em;
		font-weight: 100;
		opacity: 0.85;
		/*color: #7CE6AC;*/
		/*background-color: rgba(240, 240, 240, 0.5)*/
	}

	.intro .intro-a4{
		width: 40%;
		position: relative;
		/*transform: translateY(50%);*/
		transform: rotate(4deg) translateY(10%);
		z-index: 0;
		box-shadow: 0px 5px 20px #3d3d3d;
		/*box-shadow: 0px 5px 15px #7b7c80;*/
		margin-top: 30px;


	}

	.intro .intro-a4:hover{
		transform: rotate(0deg) translateY(8%) scale(1.1);
	}

	.intro .intro-watch-video{
		/*width: 130px;
		height: 130px;*/
		width: 10%;
		min-width: 100px;
		max-width: 150px;
		height: auto;
		/*padding: 50px 20px;*/
		background-color: transparent;
		/*border: 1px solid #fff;*/
		/*border-radius: 50%;*/
		border: none;
		color: #fff;
		font-size: 3em;
		cursor: pointer;
	}

	.intro .intro-watch-video img{
		width: 100%;

	}


	.intro .intro-watch-video:hover{
		/*background-color: #fff;
		color: #3d3d3d;*/
		opacity: 0.8;
	}

	.intro .intro-button{
		width: 220px;
		background: #FFF;
		margin: 10px;
		/*color: white;*/
		border: 1px solid transparent;
		font-size: 16px;
		font-weight: 500;
		padding: 14px 10px 16px;
		
		cursor: pointer;

	}

	.intro .intro-button:hover{
		box-shadow: 0px 1px 4px #7b7c80;
		
	}


	.title{
		display: inline-block;
		font-size: 2.1em;
		font-weight: 400;
		/*width: 100%;*/
		text-align: center;
		color: #168046;
	}

	.pricing{
		width: 100%;
		height: auto;
		position: relative;
		/* background-color: #b9d8c7; */
		z-index: 2;
	}

	.pricing .container{
		text-align: center;
	}

	.pricing .pricing-table{
		width: 80%;
		height: auto;
		position: relative;
		display: inline-block;
		border: 1px solid #231f20;
		border-spacing: 0;
		border-collapse: separate !important;
		border-radius: 6px;
		margin: 0px 10%;
		/*box-shadow: 0 1px 15px rgba(0, 0, 0, 0.46);*/
		background-color: #fcfcfc;
	}

	.pricing .pricing-table .pricing-table-line{
		width: 100%;
		height: auto;
		/*position: relative;*/
		/*display: block;*/
		/*padding: 5px;*/
	}

	.pricing .pricing-table th,
	.pricing .pricing-table td{
		/*border-bottom: 1px solid #dfdfdf;*/
	}

	.pricing .pricing-table .pricing-table-line .pricing-table-line-title{
		/*width: 20%;*/
		height: auto;
		/*position: relative;*/
		/*display: inline-block;*/
		text-align: center;
		font-weight: 100;
		font-size: 2em;
		background-color: #231f20;
		color: #fcfcfc;
		padding: 20px 0.4em 30px;
		white-space: nowrap;
	}

	.pricing .pricing-table .pricing-table-line .pricing-table-line-content{
		/*width: 79%;*/
		height: auto;
		/*position: relative;*/
		/*display: inline-block;*/
		background-color: #fcfcfc;
		font-weight: 400;
		color: #231f20;
		/*margin-top: -0.2em;*/
		padding: 25px 15px 30px;
		width: 100%;
		border-bottom: 1px solid #dfdfdf;
	}

	.pricing .pricing-table .pricing-table-line .pricing-table-line-infomation{
		/*border-left: 1px solid #7b7c80;*/
		background-color: #fcfcfc;
		transform: scale(1.05);
		border-radius: 6px;
		padding: 25px 35px 25px;
		box-shadow: 0 1px 15px rgba(0, 0, 0, 0.46);
		color: #231f20;
		z-index: 5;
		/*position: absolute;
		top: 100%;
		left: 0px;
		width: 100%;*/
	}

	.pricing .pricing-table .pricing-table-line .pricing-table-line-infomation:hover{
		transform: scale(1.1);
	}	

	.pricing .pricing-table .pricing-table-line .pricing-table-line-infomation span{
		display: block;
		font-size: 0.8em;
		padding: 1px 12px;
		width: 100%;
	}

	.pricing .pricing-table .pricing-table-line .pricing-table-line-infomation i{
		vertical-align: bottom;
		font-size: 1.6em;
		margin-right: 2px;
		color: #168046;
		
	}


	.pricing .pricing-table .pricing-table-line .pricing-table-line-infomation .gotoSchool{
		
		background: #168046;
		text-align: center;
		padding: 20px 35px;
		color: #fff;
		border: none;
		white-space: nowrap;
		cursor: pointer;
		margin: 0px 0px 20px;
		font-size: 1.1em;
	}

	.pricing .pricing-table .pricing-table-line .pricing-table-line-infomation .gotoSchool:hover{
		opacity: 0.9;
	}	

	.pricing-table td:first-child, .pricing-table th:first-child {
		border-left: none;
	}
	.pricing-table th:first-child {
		-moz-border-radius: 6px 0 0 0;
		-webkit-border-radius: 6px 0 0 0;
		border-radius: 6px 0 0 0;
	}
	.pricing-table th:last-child {
		-moz-border-radius: 0 6px 0 0;
		-webkit-border-radius: 0 6px 0 0;
		border-radius: 0 6px 0 0;
	}
	.pricing-table th:only-child{
		-moz-border-radius: 6px 6px 0 0;
		-webkit-border-radius: 6px 6px 0 0;
		border-radius: 6px 6px 0 0;
	}
	.pricing-table tr:last-child td:first-child {
		-moz-border-radius: 0 0 0 6px;
		-webkit-border-radius: 0 0 0 6px;
		border-radius: 0 0 0 6px;
	}
	.pricing-table tr:last-child td:last-child {
		-moz-border-radius: 0 0 6px 0;
		-webkit-border-radius: 0 0 6px 0;
		border-radius: 0 0 6px 0;
	} 

	/*-------------------------------------
					login
	-------------------------------------*/
	

	.login-request{
		width: 100%;
		margin-top: 100px;
		text-align: center;
	}

	.login-request .container{
		width: 25%;
		max-width: 334px;
		background-color: #fcfcfc;
		height: 100%;
		position: relative;
		text-transform: uppercase;
	}
	.login-request .container .login-title {
		font-weight: 500;
		font-size: 1.7em;
		border-top: 1px solid #168046;
		z-index: 100;
		letter-spacing: -0.05em;
		word-break: keep-all;
		display: inline-block;
		margin-bottom: 50px;
	}
	.login-request .container input {
		width:100%;
		height: auto;
		padding: 15px;
		border: none;
		border: 1px solid #ccc;
		background: #fff;
		margin-bottom: 10px;
		font-size: 1em;
	}
	.login-request .container button {
		width:100%;
		height: auto;
		padding: 15px;
		border: none;
		background: #aaaaaa;
		text-transform: uppercase;
		margin-bottom: 10px;
		font-size: 1em;
		cursor: pointer;
		border-radius: 4px;
		text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
		font-weight:bold; 
		color: #FFFFFF;
		background-color: #AAAAAA; background-image: -webkit-gradient(linear, left top, left bottom, from(#AAAAAA), to(#a0a0a0));
		background-image: -webkit-linear-gradient(top, #AAAAAA, #a0a0a0);
		background-image: -moz-linear-gradient(top, #AAAAAA, #a0a0a0); background-image: -ms-linear-gradient(top, #AAAAAA, #a0a0a0); background-image: -o-linear-gradient(top, #AAAAAA, #a0a0a0); background-image: linear-gradient(to bottom, #AAAAAA, #a0a0a0);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#AAAAAA, endColorstr=#a0a0a0);
	}
	.login-request .container button.fb_btn {
		background-color: #3B5999; background-image: -webkit-gradient(linear, left top, left bottom, from(#3B5999), to(#38538f));
		background-image: -webkit-linear-gradient(top, #3B5999, #38538f);
		background-image: -moz-linear-gradient(top, #3B5999, #38538f); background-image: -ms-linear-gradient(top, #3B5999, #38538f); background-image: -o-linear-gradient(top, #3B5999, #38538f); background-image: linear-gradient(to bottom, #3B5999, #38538f);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#3B5999, endColorstr=#38538f);
	}
	.login-request .container button.naver_btn {
		background :#00C73C;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#00C73C), to(#02bc3a));
		background-image: -webkit-linear-gradient(top, #00C73C, #02bc3a);
		background-image: -moz-linear-gradient(top, #00C73C, #02bc3a); background-image: -ms-linear-gradient(top, #00C73C, #02bc3a); background-image: -o-linear-gradient(top, #00C73C, #02bc3a); background-image: linear-gradient(to bottom, #00C73C, #02bc3a);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#00C73C, endColorstr=#02bc3a);
	}
	.login-request .container .search_id, .login-request .container .join_btn {
		font-size: 0.8em;
		position: absolute;
		cursor: pointer;
	}
	.login-request .container .search_id {
		right:0;
	}
	.login-request .container .join_btn {
		left: 0;
	}

	.login-request .container button:hover,
	.login-request .container .join_btn:hover, .login-request .container .search_id:hover {
		opacity: 0.8;
	}
	
	.login-request .container .join_btn:hover,
	.login-request .container .search_id:hover {
		text-decoration: underline;
	}
	
	.login-request input::-webkit-input-placeholder {
			color: rgba(0,0,0,0.3);
	}

	.login-request input::-moz-placeholder { /* Firefox 18- */
			color: rgba(0,0,0,0.3); 
	}

	.login-request input::-moz-placeholder {  /* Firefox 19+ */
			color: rgba(0,0,0,0.3);
	}

	.login-request input::-ms-input-placeholder {  
			color: rgba(0,0,0,0.3);
	}

	.login-request input:focus { 
		outline: none !important;
		box-shadow: 0 0 10px rgba(0,0,0,0.1);
	}

	/*-------------------------------------
				find password
	-------------------------------------*/

	.find-info-request {
		width: 100%;
		margin-top: 100px;
		text-align: center;
	}

	.find-info-request .container{
		width: 25%;
		max-width: 334px;
		background-color: #fcfcfc;
		height: 100%;
		position: relative;
		text-transform: uppercase;
	}
	.find-info-request .container .find-title {
		font-weight: 500;
		font-size: 1.7em;
		border-top: 1px solid #168046;
		z-index: 100;
		letter-spacing: -0.05em;
		word-break: keep-all;
		display: inline-block;
		margin-bottom: 50px;
	}
	.find-info-request .container input {
		width:100%;
		height: auto;
		padding: 15px;
		border: none;
		border: 1px solid #ccc;
		background: #fff;
		margin-bottom: 10px;
		font-size: 1em;
	}
	.find-info-request .container button {
		width:100%;
		height: auto;
		padding: 15px;
		border: none;
		background: #aaaaaa;
		text-transform: uppercase;
		margin-bottom: 10px;
		font-size: 1em;
		cursor: pointer;
		border-radius: 4px;
		text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
		font-weight:bold; 
		color: #FFFFFF;
		background-color: #AAAAAA; background-image: -webkit-gradient(linear, left top, left bottom, from(#AAAAAA), to(#a0a0a0));
		background-image: -webkit-linear-gradient(top, #AAAAAA, #a0a0a0);
		background-image: -moz-linear-gradient(top, #AAAAAA, #a0a0a0); background-image: -ms-linear-gradient(top, #AAAAAA, #a0a0a0); background-image: -o-linear-gradient(top, #AAAAAA, #a0a0a0); background-image: linear-gradient(to bottom, #AAAAAA, #a0a0a0);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#AAAAAA, endColorstr=#a0a0a0);
	}
	.find-info-request .container .login_btn, .find-info-request .container .join_btn {
		font-size: 0.8em;
		position: absolute;
		cursor: pointer;
	}
	.find-info-request .container .login_btn {
		left:0;
	}
	.find-info-request .container .join_btn {
		right: 0;
	}

	.find-info-request .container button:hover,
	.find-info-request .container .join_btn:hover, .find-info-request .container .login_btn:hover {
		opacity: 0.8;
	}
	
	.find-info-request .container .join_btn:hover,
	.find-info-request .container .login_btn:hover {
		text-decoration: underline;
	}
	
	.find-info-request input::-webkit-input-placeholder {
			color: rgba(0,0,0,0.3);
	}

	.find-info-request input::-moz-placeholder { /* Firefox 18- */
			color: rgba(0,0,0,0.3); 
	}

	.find-info-request input::-moz-placeholder {  /* Firefox 19+ */
			color: rgba(0,0,0,0.3);
	}

	.find-info-request input::-ms-input-placeholder {  
			color: rgba(0,0,0,0.3);
	}

	.find-info-request input:focus { 
		outline: none !important;
		box-shadow: 0 0 10px rgba(0,0,0,0.1);
	}


	/*-------------------------------------
				main school
	-------------------------------------*/


	.school{
		width: 100%;
		height: auto;
		z-index: 100;
		background-color: #d0e5da;
		position: relative;
		padding: 40px 0px;
	}

	.school .container{
		text-align: center;
		
	}
	

	.school .school-item{
		width: 30%;
		height: 180px;
		margin: 1.5%;
		display: inline-block;
		background-color: #FFFFFF;
		/*background-color: #fcfcfc;*/
		/*background-image: url('/img/korea.png');*/
		background-size: auto 50%;
		background-position: 50% 24px;
		background-repeat: no-repeat;
		border: 1px solid #fcfcfc;
		position: relative;
		cursor: pointer;

		border-left: 3px solid transparent;
		
		/*box-shadow: 0px 5px 15px #7b7c80;*/
	}
	.school .school-item:hover{
		box-shadow: 0px 5px 15px #ddd;
		border-left: 3px solid #168046;
	
	}

	.school .school-item .school-item-title{
		width: 100%;
		display: block;
		position: absolute;
		bottom: 24px;
		text-align: center;
	}


	.school2{
		width: 100%;
		height: auto;
		z-index: 100;
		/* background-color: #d0e5da; */
		position: relative;
		padding: 40px 0px 300px;
	}

	.school2 .container{
		text-align: center;
		
	}
	
	.school2 .school2-list{
		width: 70%;
		max-width: 400px;
		max-height: 300px;
		margin: 0% auto;
		position: absolute;
		left: 50%;
		display: block;
		overflow-y: auto;
		height: 0px;
		background-color: #fcfcfc;
		transform: scaleY(0.001) translateX(-50%);
		transform-origin: 50% 0 0;
		border: 1px solid #d3d3d3;
		/*position: absolute;*/

	}

	.school2 .school2-list .school2-list-item{
		width: 100%;
		padding: 7px;
		/*height: 60px;*/
		/*margin: 1.5%;*/
		display: block;
		background-color: #FFFFFF;
		/*background-color: #fcfcfc;*/
		/*background-image: url('/img/korea.png');*/
		background-size: auto 50%;
		background-position: 10px 50%;
		background-repeat: no-repeat;
		border: 1px solid #fcfcfc;
		position: relative;
		cursor: pointer;

		border-left: 3px solid transparent;
		
		/*box-shadow: 0px 5px 15px #7b7c80;*/
	}

	.school2 .school2-list-open + label{
		width: 80%;
		max-width: 400px;
		margin: 0px auto;
		background-color: #fcfcfc;
		padding: 12px 0px;
		display: block;
		user-select: none;
		cursor: pointer;
		border-bottom: 2px solid #168046;
		position: relative;
		transform-origin: 50% 100% 0;
	}

	.school2 .school2-list-open + label:hover{
		transform: scale(1.05);
	}	

	.school2 .school2-list-open:checked ~ .school2-list{
		display: block;
		height: auto;
		transform: scaleY(1) translateX(-50%);
	}

	.school2 .school2-list .school2-list-item:hover{
		box-shadow: 0px 5px 15px #ddd;
		border-left: 3px solid #168046;
		transform: translate(-2px, -2px);
		z-index: 1;
	
	}

	.school2 .school2-list .school2-list-item .school2-list-item-title{
		width: 100%;
		display: block;
		/*position: absolute;
		bottom: 24px;*/
		text-align: center;
	}

	/*-------------------------------------
				main about us
	-------------------------------------*/
	.about {
		width: 100%;
		height: auto;
		min-height: 350px;
		/*background: linear-gradient(90deg, #f9fffc 50%, #168046 50%);*/
		/*background: #fdfdfd;*/
		z-index: 2;
		position: relative;
		/* color: #fcfcfc; */
		/* background-color: #a1ccb5; */
	}
	

	.about .container {
		height: 100%;
		text-align: center;
		/*margin-top: 60px;*/
	}
	.about .section_us, .about .section_reviewer {
		/*display: inline-block;*/
		width:40%;
		height:100%;
		margin: 20px 1%;
		padding: 20px 25px 20px 20px;
		color: #231f20;		
		background-color: #fcfcfc;
		border: 1px solid #d8d8d8;
		/* border-radius: 6px; */
		box-sizing: border-box;
		float: left;
		text-align: justify;

	}

	.about .section_us:hover, .about .section_reviewer:hover {
		box-shadow: 0 1px 15px rgba(0, 0, 0, 0.46);
		transform: scale(1.05);
	}

	.about .section_us {
		position: relative;
		margin-left: 10%;
	}
	.about .section_us::after {
  		content: "";
		/*display: block;*/
		display: none;
		position: absolute;
		top: 50%; right: 0;
		transform: translateY(-50%);
		width: 4px;
		height: 70%;
		background: rgba(239,239,239,0.3);
		
		/*border-right: 4px solid #d6d6d5;*/
	}
	.about .section_reviewer {
		/*padding-left: 30px;*/
	}
	.about .container .about_article {
		float: right;
		width: 67%;
		/*padding: 0 30px;*/
		/*padding-left: 0;*/
		box-sizing: border-box;
	}
	.about .section_reviewer .about_article {
		padding-right: 0;
	}
	.about .container .about_article h2 {
		margin-bottom: 20px;
		font-weight: 500;
		font-size: 2em;
	}
	.about .container .about_article .read-more {
		/*display: inline-block;*/
		margin-top: 15px;
		color: #168046;
		font-weight: 600;
		text-align: right;
	}
	.about img {
		/*float: left;*/
		width: 30%;
		max-width: 148px;
		height:auto;
		/*margin-right: 30px;*/
	}
	/*.about p {
		display: -webkit-box;
		-webkit-line-clamp: 3; 
		-webkit-box-orient: vertical;
		margin-top:20px;
		padding-bottom:30px;
		width:100%;
		white-space: normal;
		overflow: hidden;
		text-overflow: ellipsis;
		line-height: 2em;
		height: 3.6em;
		word-wrap: break-word;
	}*/

	/*-------------------------------------
				about us page
	-------------------------------------*/
	.form-header-wrap {
		background: #fff;
		display: inline-block;
		padding-bottom: 40px;
	}
	.about-header{
		width: 100%;
		height: auto;
		position: relative;
		border-top: 1px solid #872434;
	}	

	.about-header .container{
		/*background-color: #ee008c;*/
		padding: 15px 0px 55px 0px;

		/*background-color: #FFFFFF;*/
		
	}

	.about-header .container .about-header-top{
		background-size: cover;
		background-position: center;
		/*color: #FFF;*/
	}

	
    .about-header .about-header-back{
        width: 1.6em;
        height: 1.6em;
        float: left;
        font-size: 1.2em;
        text-align: center;
        line-height: 1.6em;
        cursor: pointer;
		font-weight: 700;
		-webkit-transition: all 0.1s ease-in-out;
		-moz-transition: all 0.1s ease-in-out;
		transition: all 0.1s ease-in-out;


    }

    .about-header .about-header-back:hover{
        background-color: #d3d3d3;
        color: #FFFFFF;
        border-radius: 50%;
    }



	.about-header .about-header-logo{
		width: auto;
		height: auto;
		display: inline-block;
		/*display: block;*/
		/*text-align: center;*/
		font-weight: 700;
		font-size: 1.4em;
		/*color: #7b7c80;*/
		letter-spacing: -2px;
		margin-bottom: 80px;
		margin-left: 12px;
	}

	.about-header .about-header-logo img{
		cursor: pointer;

	}

	.about-header .about-header-title{
		width: auto;
		height: auto;
		display: block;
		font-weight: 500;
		font-size: 2.3em;
		/*font-size: 3em;*/
		margin-left: 80px;
	}

	.about-header .about-header-content{
		width: auto;
		height: auto;
		display: block;
		font-weight: 300;
		font-size: 2.0em;
		/*font-size: 2.4em;*/
		margin-left: 80px;
		padding-right: 470px;		
	}

	/*.about_page {
		width: 100%;
		height: auto;
		/*overflow: auto;*/

	/*}
	.about_page .about-header {
		width: 100%;
		height: auto;
		position: relative;
		padding-top: 15px;
	}
	.about-header .about-header-top {
		background-size: cover;
		background-position: center;
	}
	.about-header .about-header-back {
		width: 1.6em;
        height: 1.6em;
        float: left;
        font-size: 1.2em;
        text-align: center;
        line-height: 1.6em;
        cursor: pointer;
		font-weight: 700;
		-webkit-transition: all 0.1s ease-in-out;
		-moz-transition: all 0.1s ease-in-out;
		transition: all 0.1s ease-in-out;
	}
	.about-header .about-header-back:hover{
        background-color: #d3d3d3;
        color: #FFFFFF;
        border-radius: 50%;
    }
	.about-header .about-header-logo{
		width: auto;
		height: auto;
		display: inline-block;
		font-weight: 700;
		font-size: 1.4em;
		letter-spacing: 2px;
		margin-bottom: 80px;
		margin-left: 12px;
	}
	.about-header .about-header-logo img{
		cursor: pointer;
		margin-right: 10px;
		height: 30px;
		vertical-align: middle;
	}
	.about-title-shape {
		width: auto;
		height: auto;
		display: inline-block;
		padding: 40px 0;
		padding-right: 100px;
		background: #fff;
	}
	.about-title-shape .about-header-title {
		width: auto;
		height: auto;
		display: block;
		font-weight: 500;
		font-size: 2.3em;
		padding-left: 20px;
	}
	.about-title-shape .about-header-content {
		width: auto;
		height: auto;
		display: block;
		font-weight: 300;
		font-size: 2em;	
		padding-left: 20px;	
	}*/
	.about-header-shape {
		width: 100%;
		max-height: 440px;
		margin-top: -120px;
		background-image: url("/img/baogao_green.png");
		background-size: 5%;
		background-color: #f0f0f0;
		overflow: hidden;
	}
	.about-header-shape img {
		width: 90%;
		float: right;
		margin-top: -210px;
	}
	.about-request {
		width: 100%;
		height: auto;
	}
	.about-request .about-section {
		width: 100%;
		position: relative;
	}
	.about-request .about-section:first-child {
		border-bottom: 4px solid #efefef;
	}
	.about-request .about-section .about-text {
		width: 60%;
		display: inline-block;
		padding: 80px 0;
	}
	.about-request .about-section span {
		font-size: 2em;
		font-weight: 500;
		margin-bottom: 30px;
	}
	.about-request .about-text p {
		font-size: 1em;
		margin-top: 20px;
		line-height: 1.8em;
	}
	.about-request .about-section img  {
		width: 30%;
		max-width: 250px;
		display: inline-block;
		position: absolute;
		right: 10%;
		top: 10%;
	}
	.about-request .right-align .about-text {
		margin-left: 40%;
	}
	.about-request .right-align img {
		left: 10%;
	}
	.reviewer-content {
		background: #f8f8f9;
		width: 100%;
		padding-top: 80px;
		text-align: center;
		height: auto;
	}
	.reviewer-content h1 {
		word-break: keep-all;
	}
	.reviewer-content .explanation {
		width: 30%;
		margin-top: 30px;
		margin-bottom: 80px;
	}
	.reviewer-content .explanation:last-child {
		width: 33%;
	}
	.reviewer-content .explanation-content {
		text-align: left;
		width: 80%;
		margin: 0 auto;
	}
	.explanation img {
		width: 100%;
		max-width: 400px;
	}


	.form-header{
		width: 100%;
		height: auto;
		position: relative;
		border-top: 1px solid #872434;
	}	

	.form-header .container{
		/*background-color: #ee008c;*/
		padding: 15px 0px 55px 0px;
		height:auto;
		/*background-color: #FFFFFF;*/
		
	}

	.form-header .container .form-header-top{
		background-size: cover;
		background-position: center;
		/*color: #FFF;*/
	}

	
    .form-header .form-header-back{
        width: 1.6em;
        height: 1.6em;
        float: left;
        font-size: 1.2em;
        text-align: center;
        line-height: 1.6em;
        cursor: pointer;
		font-weight: 700;
		-webkit-transition: all 0.1s ease-in-out;
		-moz-transition: all 0.1s ease-in-out;
		transition: all 0.1s ease-in-out;


    }

    .form-header .form-header-back:hover{
        background-color: #d3d3d3;
        color: #FFFFFF;
        border-radius: 50%;
    }



	.form-header .form-header-logo{
		width: auto;
		height: auto;
		display: inline-block;
		/*display: block;*/
		/*text-align: center;*/
		font-weight: 700;
		font-size: 1.4em;
		/*color: #7b7c80;*/
		letter-spacing: -2px;
		margin-bottom: 80px;
		margin-left: 12px;
	}

	.form-header .form-header-logo img{
		cursor: pointer;

	}

	.form-header .form-header-title{
		width: auto;
		height: auto;
		display: block;
		font-weight: 500;
		font-size: 2.3em;
		/*font-size: 3em;*/
		margin-left: 80px;
	}

	.form-header .form-header-content{
		width: auto;
		height: auto;
		display: block;
		font-weight: 300;
		font-size: 2.0em;
		/*font-size: 2.4em;*/
		margin-left: 80px;
		padding-right: 470px;		
	}

	.form-request{
		width: 100%;
		height: 600px;
		/*position: absolute;
		top: 0px;*/
		/*transform: rotate(-0.5deg);*/
		z-index: -1;
		/*padding-top: 40px;*/
	}

	.form-request .container{
		background-image: url('/img/korea.jpg');
		background-size: cover;
		background-position: center;
		/*background-image: url('/img/back22.png');
		background-size: 22%;
		background-position: right;*/
		background-repeat: repeat;
		background-color: #fcfcfc;
		height: 100%;
		position: relative;
	}

	.form-request .form-request-shape{
		/*content: "";*/
		position: absolute;
		width: 480px;
		height: 100%;
		top: 0px;
		right: -0px;
				
		background-image: url('/img/korea.png');
		background-size: 4%;
		background-position: right;
		background-color: #872434;

	}

	.form-request-inside{
		width: 400px;
		/*height: 100%;*/
		position: relative;
		float: right;
		padding: 40px 35px;
		background-color: #fcfcfc;
		margin-right: 85px;
		margin-left: 30px;
		box-shadow: 0px 5px 20px #3d3d3d;
		border-top: 1px solid #872434;
		
		/*font-size: 0.8em;*/

		margin-top: -100px;
		margin-bottom: 40px;
		z-index: 30;
	}

	.form-request-inside .input-help{
		font-size: 0.9em;
		text-align: right;
		display: block;
		color: #7b7c80;
		/*visibility: hidden;*/
	}

	.form-request-inside .input-line{
		width: 100%;
		height: auto;
		position: relative;
		padding: 5px 0px 15px 0px;
	}

	.form-request-inside .input-line .input-title{
		width: 23%;
		display: inline-block;
		vertical-align: top;
		padding-top: 10px;
		font-size: 0.9em;
	}

	.form-request-inside .input-line .input-content{
		width: 77%;
		display: inline-block;
		vertical-align: top;
		font-size: 0.9em;
	}

	.form-request-inside button{
		width: 100%;
		height: auto;
		background-color: #872434;
		color: #fcfcfc;
		cursor: pointer;
		border: 1px solid transparent;
		padding: 10px 30px;
		
	}

	.form-request-inside .input-line .input-content input, 
	.form-request-inside .input-line .input-content textarea{
		width: 100%;
		height: auto;
		background: none;
		border: none;
		padding: 15px;
		border: 1px solid #dfdfdf;
	}
	
	.form-request-inside .input-line .input-content input:focus + .input-help, 
	.form-request-inside .input-line .input-content textarea:focus + .input-help{
		/*display: block;*/
		visibility: visible;
		color: #ff0000;
	}

	.form-intro{
		width: 100%;
		height: auto;
		position: relative;
		margin-top: 30px;
		
	}

	.form-intro .container{
		/*background-color: #FFFFFF;*/
	}

	
	.div3{
		width: 33.3333%;
		height: auto;
		position: relative;
		display: inline-block;
	}
	.explanation{
		margin: 0;
		padding: 0;
		text-align: center;
		margin-bottom: 120px;
		vertical-align: top;
	}

	.explanation i{
		margin: 20px;
		display: block;
	}

	.explanation .explanation-subject{
		font-size: 1.5em;
		font-weight: 700;
		padding-top: 5px;
		display: inline-block;
		/*display: block;*/
		
		border-top: 1px solid #872434;
	}

	.explanation .explanation-content{
		font-size: 1.2em;
		font-weight: 400;
		display: block;
		padding: 15px 0px;
	}









	.form .logo{
		height: 48px;
	}

	.form .wrapper{
		position: relative;
		overflow: hidden;
		/*margin-bottom: 25px;*/
	}
	.form .title{
		width: 100%;
		height: auto;
		position: relative;
		text-align: center;
		font-weight: 100;
		margin: 30px 0px;
		font-size: 14px;
	}

	.form .title .title_img{
		height: 100px;
		margin-bottom: 25px;
	}

	.div3{
		width: 33.3333%;
		height: auto;
		position: relative;
		display: inline-block;
	}
	.explanation{
		margin: 0;
		padding: 0;
		/*text-align: center;*/
		margin-bottom: 120px;
	}

	.explanation i{
		margin: 20px;
		display: block;
	}

	.explanation .explanation_subject{
		font-size: 18px;
		font-weight: 400;
		display: block;
		
	}

	.explanation .explanation_content{
		font-size: 16px;
		font-weight: 100;
		display: block;
		padding: 15px 0px;
	}

	.form .application{
		background-image: url('/img/form.jpg');
		background-size: cover;
		position: relative;
		z-index: 10;
	}

	.form .apply_form{
		margin-left: auto;
		margin-right: auto;
		position: relative;
		color: #ccc;
		/*margin-top: -10px;
		margin-bottom: -10px;*/
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
		overflow: hidden;
		font-size: 16px;
		text-align: center;
		border: 2px solid #08c1ce;
	}

	.form .apply_form .apply_form_background{
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: -1;
		background-color: black;
		opacity: 0.5;
	}

	.form .apply_form .input_line{
		padding-bottom: 10px;
		border-bottom: 1px solid #fff;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
		overflow: hidden;
		z-index: 15;
		text-align: left;
	}

	.form .apply_form .input_line:first-child{
		margin-top: 100px;
	}

	.form .apply_form .input_line .input_title{
		float: left;
		width: 100px;
	}

	.form .apply_form .input_line .input_content{
		float: left;
		width: calc(100% - 100px);
	}

	.form .apply_form .input_line input{
		width: 100%;
		height: auto;
		background: none;
		border: none;
		color: #fff;
		font-size: 16px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
	}

	.form .apply_form .input_line textarea{
		width: 100%;
		height: auto;
		min-height: 200px;
		background: none;
		border: none;
		color: #fff;
		font-size: 16px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
		padding: 0px;
		margin: 0px;
		overflow-y: scroll;
	}

	.form .apply_form button{
		padding: 10px 15%;
		border: 1px solid white;
		border-radius: 2px;
		background: none;
		color: white;
		margin-bottom: 100px;
	}

	/* 혜경 request 시작 */
	.school_bg  {
		width: 100%;
		height: 200px;
		/*opacity : 0.4;*/
		text-align: center;
		position: relative;
		overflow: hidden;
	}
	.school_bg .cover {
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0; top: 0;
		background: rgba(255, 255, 255, 0.7);
	}
	.request-title {
		font-weight: 400;
		font-size: 1.7em;
		margin-top: 20px;
		border-top: 1px solid;
		/*line-height: 180px;*/
		position: absolute;
		left: 50%; top: 50%;
		transform: translate(-50%, -70%);
		z-index: 100;
		letter-spacing: -0.05em;
		word-break: keep-all;
	}
	.request-content {
		margin: 60px auto 0;
		width: 70%;
		height: auto;
	}
	.checkout-content {
		margin: 60px 0 0 10%;
		width: 70%;
		height: auto;
		display: inline-block;
		vertical-align: top;
	}

	.checkout-coupon {
		margin: 60px 0 0 2%;
		width: 18%;
		
		height: auto;
		display: inline-block;
		vertical-align: top;
		
	}

	.checkout-coupon .checkout-coupon-form{
		
		padding: 10px;
		background-color: #e7f2ec;
		/*border: 2px solid #c5d0ca;*/
	}

	.checkout-coupon .checkout-coupon-form div{
		display: block;
	}

	.checkout-coupon .checkout-coupon-form .checkout-coupon-form-text{
		display: inline-block;
		border: 1px solid #e7f2ec;
		padding: 2px 4px;
		background-color: #fff;
		font-size: 1em;
		width: 78%;
		margin-right: 2%;
	}

	.checkout-coupon .checkout-coupon-form .checkout-coupon-form-button{
		width: 20%;
		display: inline-block;
		border: none;
		/*padding: 10px 20px;*/
		padding: 2px 4px;
		background-color: #168046;
		color: #fff;
		/*margin: 20px 0px;*/
		/*margin: 40px 0px;*/
		/*margin-bottom: 20px;*/
		font-size: 1em;
		cursor: pointer;
	}

	.checkout-coupon .space {

		font-size: 1.5em;
		font-weight: 700;
		margin-bottom: 18px;
		display: block;
	}

/* 요청정보 테이블 */
	#requestT {
		width: 100%;
		max-width: 900px;
		height: 100%;
		border-collapse: collapse;
		table-layout:fixed;
		word-wrap:break-word;
		font-size: 0.9em;
	}
	#requestT caption {
		float: left;
		font-size: 1.5em;
		font-weight: 700;
		margin-bottom: 20px;
	}
	.cola {
		width: 25%;
		max-width: 220px;
	}
	.colb {
		width: 75%;
		max-width: 675px;
	}
	#requestT tr {
		width: 100%;
		height: auto;
		border-bottom: 1px solid #aaa;
	}
	#requestT tr:first-child {
		border-top :2px solid #222;
	}
	#requestT tr:last-child {
		border-bottom: 2px solid #222;
	}
	#requestT td, #requestT tr, #requestT th {
		padding: 20px; 
		text-align: left;
		vertical-align: top;
	}
	#requestT td {
		background: #e7e7e7;
		width: 25%;
		max-width: 220px;
	}
	#requestT th {
		width: 75%;
		max-width: 675px;
	}

	.iamport{
		position: relative;
		width: 100%;
		height: auto;
	}

	.iamport .iamport-confirm{
		/*width: 100%;*/
		text-align: center;
	}

	.iamport .iamport-confirm table{
		width: 100%;

	}

	.iamport .iamport-confirm table *{
		text-align: center;
	}

	.iamport input[type='text'],
	.iamport input[type='password']{
		border: 1px solid #bbb;
		border-radius: 2px;
		padding: 5px;
		margin: 0px 5px;
	}
	.iamport .iamport-input-card{
		width: 50px;

	}


	.buttons {
		text-align: center;
		margin-top: 60px;
	}
	.buttons button {
		border: none;
		background: none;
		display: inline-block;
		width: 30%;
		max-width: 180px;
		padding: 10px 20px;
		cursor: pointer;
		margin: 0 20px;
		font-size:1em;
		font-weight: bolder;
		box-sizing: border-box;
	}

	.buttons button:hover {
		opacity: 0.8;
	}

	.buttons #r-check {
		color: #fcfcfc;
		height: auto;
	}

	.buttons #r-modify {
		color: #231f20;
		border: 1px solid #aaa;
		background: #eee;
	}

	/* 혜경 request 끝 */
	

	/*-------------------------------------
				join us page
	-------------------------------------*/
	
	.join_wrap {
		width: 100%;
		height: 200px;
		text-align: center;
		/* position: relative;
		overflow: hidden; */
		text-transform: uppercase;
		color: #231f20;
	}
	.join_wrap .join-title {
		font-weight: 500;
		font-size: 1.7em;
		border-top: 1px solid #168046;
		z-index: 100;
		letter-spacing: -0.05em;
		word-break: keep-all;
	}
	
	.join_wrap .form-join {
		width: 100%;
		padding: 40px 35px;
		background-color: #fcfcfc;
		margin-bottom: 40px;
		z-index: 30;
	}
	.join_wrap .form-join sup {
		color: #ff0000;
	}

	.form-join caption {
		display: none;
	}
	.form-join h3 {
		float: left;
		font-weight: bold;
		font-size: 1.2em;
	}
	.form-join .join_board, 
	.form-join .typeAddinfo h3 {
		margin-top: 1em;
		margin-bottom: 0.5em;
	}
	.form-join .join_board .agreeArea a {
		color: #551A8B;
	}
	.form-join .join_board .agreeArea a:hover {
		opacity: 0.8;
		text-decoration: underline;
	}
	/*.form-join h3:nth-child(2) {
		margin-top: 0.8em;
	}*/
	.form-join .join_board table {
		/* border:none; */
		border-collapse: collapse;
		border: none;
		width: 100%;
		box-sizing: border-box;	
		display: inline-block;
		font-size: 1em;
		text-align: left;
	}
	.form-join .join_board table tbody {
		width:100%;
		display: inline-table;
	}
	.form-join .join_board table th, .form-join .join_board table td{
		border: 1px solid #ccc;
	}
	.form-join .required {
		text-align: right;
		font-size: 1em;
	}
	.form-join .join_board table th {
		/* width:30%;  */
		max-width: 160px;
		background: rgba(187,187,187,0.2);
		font-weight: normal;
		padding-left:1em; 
	}
	.form-join .join_board table td {
		padding: 9px;
		width: 80%;
	}
	.form-join .join_board table td.mobile select, .form-join .join_board table td.mobile input,.form-join .join_board table tr#school-year input, .form-join .typeAddinfo input  {
		max-width: 98px;
	}
	.form-join .typeAddinfo span.birth input {
		width:3%;
	}
	.form-join .join_board table td.passwd_input .help_text {
		font-size:0.8em;
		color: #555;
	}
	.form-join button {
		width: 40%;
		max-width: 200px;
		height: auto;
		background-color: #168046;
		color: #fcfcfc;
		cursor: pointer;
		border: 1px solid transparent;
		padding: 10px 30px;
		margin: 0 8px;		
	}
	.form-join button.join_cancel {
		background-color: #aaaaaa;
	}
	.form-join a.check_email {
		display: inline-block;
		border: 1px solid #ccc;
		/* padding: 10px;  */
		font-size: 0.8em;
		color: #888;
		margin-left: 5px;
		padding: 0.4rem;
	}
	.form-join a.check_email .fa {
		font-weight: 100;
	}

	.form-join .possible_mail {
		margin-left: 5px;
		color: #228B22;
		font-weight: bold;
		font-size: 0.9em;
	}

	.form-join table input, .form-join table select, .form-join table textarea{
		width: 50%;
		max-width: 215px; 
		height: auto; 
		max-height: 33px;
		background: none;
		border: none;
		padding: 7px;
		border: 1px solid #dfdfdf;
	}
	
	.form-join  table input:focus + .input-help, 
	.form-join table textarea:focus + .input-help{
		/*display: block;*/
		visibility: visible;
		color: #ff0000;
	}
	.form-join input[type=checkbox] {
		display: none;
	}
	.form-join input[type=checkbox] + label {
		display: inline-block;  
		cursor: pointer;  
		position: relative;  
		padding-left: 25px;  
		margin-left: 15px; 
	}
	.form-join input[type=checkbox]+ label:before {     

		content: "";  
		display: inline-block;  
	
		width: 1em;  
		height: 1em;  
	
		margin-right: 10px;  
		position: absolute;  
		left: 0;  
		bottom: 0.2em;  
		background-color: #ccc;  
		border-radius: 2px; 
		box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);  
	}
	.form-join input[type=checkbox]:checked + label:before { 

		content: "\2713";  /* 체크모양 */
		text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);  
		 font-size: 1em;  
		font-weight:800; 
		color: #fff;  
		background:#168046;
		text-align: center;  
		 line-height: 1em;   
	} 
	.form-join table label, .form-join table select {
		display: inline-block;
		vertical-align: middle;
	}

	.form-join .btnArea {
		margin-top: 30px;
	}

	/*  join us page 끝  */

	
	/* 강의평가 페이지 */
	.lecture-header {
		height: 100%;
	}
	.lecture-header .container {
		height: 100%;
	}

	.lecture_wrap {
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		width: 100%;
		max-width: 100%;
		display: block;
		margin: 0;
		padding: 0;
		/* margin-top: 30px;  */
		height: 80%;
		/* overflow: hidden; */
		/* overflow-x: scroll;  */
		position: relative;
	}
	.lecture_wrap .lecture_list {
		width: 100%;
		height: 100%;
		/*display: flex;
		flex-direction: column;
		flex-wrap: wrap; */
		float: left; 
		position: relative;
		padding-left: 0;
		/*display: inline-block;
		-webkit-column-width: 400px;
		-webkit-column-gap: 0 !important;
		-moz-column-width: 400px;
		-moz-column-gap: 0 !important;
		column-width: 400px;
		column-gap: 0 !important;*/
	}
	.lecture_wrap .lecture_list .lecture {
		height: 50%;
		max-height: 225px;
		font-size: 3em;
		font-weight: bold;
		margin: 15px;
		width: 100%;
		max-width: 235px;
		position: relative;
		display: inline-block;
	}
	.lecture_wrap .lecture_list .div4 {
		padding: 20px; 
		cursor: pointer;	
		padding-bottom: 0;
		/* margin-left: 10px;
		box-sizing: border-box; */
	}
	
	.lecture_wrap .lecture_list .lecture {
		overflow: hidden;			
		border: 1px solid rgba(0,0,0,0.1);
		background: #fff;
		position: relative;
		/* border-left: 3px solid transparent; */
	}

	.lecture_wrap .lecture_list .lecture:hover {
		box-shadow: 0 1px 15px rgba(0, 0, 0, 0.46);		
		/* border-left: 3px solid #168046; */
	}
	.lecture_wrap .lecture_list .lecture .school_title {
		display: inline-block;
		width:45%;
		height: 30%;
		max-height: 32px;
		background: #106f3b;
		position: absolute;
		top:0;
		left:0;
		color: #fff;
		font-size: 0.3em;
		font-weight: normal;
		text-align: center;
		line-height: 32px;
	}
	.lecture_wrap .div4 .lecture_content {
		text-align: center;
		font-weight: normal;
		/* margin-top: 10px; */
		width:100%;
		padding: 5px;
		padding-top: 0;
		padding-bottom: 20px;
	}
	.lecture_wrap .lecture_list .lecture_content span {
		/* display: inline-block; */
	}
	.lecture_wrap .lecture_list .lecture_content .lecture_title {
		font-weight: bold;
		font-size: 0.5em;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		width:56%;
	}
	.lecture_wrap .lecture_list .lecture_content .professor {
		font-size: 0.4em;
	}
	.lecture_wrap .lecture_list .lecture_content .star_wrap {
		width:100%;
		font-size: 0.3em;		
		/* margin-top: 8px; */
	}
	.lecture_wrap .lecture_list .lecture_content .star_wrap fieldset, .lecture_wrap .lecture_list .lecture_content .star_wrap label {
		margin: 0; padding: 0;
	}

	.lecture_wrap .lecture_list .lecture_content .star_wrap .rating { 
		border: none;
		width: 100%;
		/* float: left; */
		position: absolute;
		left: -25%;
		/* transform: translateX(-50%); */
	}

	.lecture_wrap .lecture_list .lecture_content .star_wrap .rating > input { 
		display: none; 
	} 
	.lecture_wrap .lecture_list .lecture_content .star_wrap .rating > label:before { 
		margin: 2px; 
		font-size: 1.25em;
		font-family: FontAwesome; 
		display: inline-block;
		content: "\f005";
	}

	.lecture_wrap .lecture_list .lecture_content .star_wrap .rating > .half:before { 
		content: "\f089";
		position: absolute;
	}

	.lecture_wrap .lecture_list .lecture_content .star_wrap .rating > label { 
		/* color: #ddd;  */
		color: #FFD700;
		float: right;  
	}
	.lecture_wrap .lecture_list .lecture_content .star_wrap .rating .star_point {
		/* display: inline; */
		 float: right; 
		margin-left: 5px;
	}
	.lecture_wrap .lecture_list .lecture_content .text {
		overflow:hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp:3;
		-webkit-box-orient: vertical;
		word-wrap: break-word;
		line-height: 1.2em;
		height:3.6em;
		font-size: 0.35em;
		color: #231f20;
		text-align: justify;
		margin-top: 33px;
		width:100%;
		/* white-space: nowrap; */
	}

	/*.lecture_wrap .lecture_list .lecture_content .star_wrap .rating > input:checked ~ label, .lecture_wrap .lecture_list .lecture_content .star_wrap .rating:not(:checked) > label:hover,.lecture_wrap .lecture_list .lecture_content .star_wrap .rating:not(:checked) > label:hover ~ label {
		 color: #FFD700;  
	} 

	.lecture_wrap .lecture_list .lecture_content .star_wrap .rating > input:checked + label:hover, .lecture_wrap .lecture_list .lecture_content .star_wrap .rating > input:checked ~ label:hover, .lecture_wrap .lecture_list .lecture_content .star_wrap .rating > label:hover ~ input:checked ~ label, .lecture_wrap .lecture_list .lecture_content .star_wrap .rating > input:checked ~ label:hover ~ label { 
		color: #FFED85;  
	}*/


	.lecture_wrap .lecture_view {
		width: 100%;
		height: auto;
		border: 1px solid rgba(0,0,0,0.1);
	}
	.lecture_wrap .lecture_view .school_logo {
		width: 20%;
		max-width: 150px;
		height: auto;
		display: inline-block;
		background-image: url("/img/school_logo/ewha.png");
		background-size: contain;
		background-repeat: no-repeat;
		margin: 25px;
		box-shadow: 3px 3px 3px rgba(0,0,0,0.35);
	}
	.lecture_wrap .lecture_view .lecture_view_text {
		width: 80%;
		display: inline-block;
		margin-left: 1em;
	}
	.lecture_wrap .lecture_view .lecture_view_text .lecture_name {
		width:100%;
		font-weight: bold;
		font-size: 2em;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		display: inline-block;
		border-bottom: 2px solid #231f20;
		padding: 12px 0;
		margin-bottom:20px;
	}

	.lecture_wrap .lecture_view .lecture_view_text .tutor_name {
		font-size:1.5em;
	}

	.lecture_wrap .lecture_view .lecture_view_text .star_wrap {
		width:100%;		
		/* margin-top: 8px; */
	}
	.lecture_wrap .lecture_view .lecture_view_text .star_wrap fieldset, .lecture_wrap .lecture_view .lecture_view_text .star_wrap label {
		margin: 0; padding: 0;
	}

	.lecture_wrap .lecture_view .lecture_view_text .star_wrap .rating { 
		border: none;
		/* width: 100%; */
		float: left; 
	}

	.lecture_wrap .lecture_view .lecture_view_text .star_wrap .rating > input { 
		display: none; 
	} 
	.lecture_wrap .lecture_view .lecture_view_text .star_wrap .rating > label:before { 
		margin: 5px; 
		font-size: 1.25em;
		font-family: FontAwesome; 
		display: inline-block;
		content: "\f005";
	}

	.lecture_wrap .lecture_view .lecture_view_text .star_wrap .rating > .half:before { 
		content: "\f089";
		position: absolute;
	}

	.lecture_wrap .lecture_view .lecture_view_text .star_wrap .rating > label { 
		/* color: #ddd;   */
		color: #FFD700;  
		float: right;  
	}
	.lecture_wrap .lecture_view .lecture_view_text .star_wrap  .star_point {
		/* display: inline; */
		/* float: right;  */
		margin-left: 5px;
	}

	/*.lecture_wrap .lecture_view .lecture_view_text .star_wrap .rating > input:checked ~ label, .lecture_wrap .lecture_view .lecture_view_text .star_wrap .rating:not(:checked) > label:hover,.lecture_wrap .lecture_view .lecture_view_text .star_wrap .rating:not(:checked) > label:hover ~ label {
		 color: #FFD700;  
	} */

	/*.lecture_wrap .lecture_view .lecture_view_text .star_wrap .rating > input:checked + label:hover, .lecture_wrap .lecture_view .lecture_view_text .rating > input:checked ~ label:hover, .lecture_wrap .lecture_view .lecture_view_text .star_wrap .rating > label:hover ~ input:checked ~ label, .lecture_wrap .lecture_view .lecture_view_text .star_wrap .rating > input:checked ~ label:hover ~ label { 
		color: #FFED85;  
	}*/

	.lecture_wrap .lecture_view .lecture_view_text ul {
		width: 100%;
		padding: 0;
		margin-top: 40px;
		margin-bottom: 80px;
	}
	.lecture_wrap .lecture_view .lecture_view_text ul li {
		width: 100%;
		/* height: 150px; */
		border: 1px solid #d5d5d5;
		border-radius: 10px;
		box-shadow: 5px 5px 5px rgba(0,0,0,0.18);
		padding: 20px;
	}
	.lecture_wrap .lecture_view .lecture_view_text ul li .text {
		margin-top: 0.8em;
		display:inline-block;
	}
	.lecture_wrap .lecture_view .lecture_view_text ul li .writer {
		font-size: 0.8em;
		color: #535353;
		float: right;
		margin-right: 20px;
		/* margin-top: 5px; */
	}

	.admin-request-list {
		width: 100%;
		/*margin: 0px auto;*/
		/*border-collapse: separate;*/
		text-align: center;

	}

	/*.admin-request-list tr{
		padding: 5px 10px;
	}*/

	.admin-request-list th, .admin-request-list .admin-request-list-item {
		/*border-top: 1px solid #7b7c80;
		border-bottom: 1px solid #7b7c80;*/
		padding: 20px 20px;
		/*text-align: center;*/
		background-color: #f3f3f3;
		/*background-color: #f3fef5;*/
		position: relative;
		border: 1px solid #f0f0f0;
		border-radius: 1px;
		vertical-align: top;
		margin: 10px;
		display: inline-block;
		/*float: left;*/
		width: 100%;
		max-width: 400px;
		
	}

	.admin-request-list .admin-request-list-item-user{
		width: 100%;
		/*margin-right: 10%;*/
		/*height: 300px;*/
		display: inline-block;
		position: relative;
		vertical-align: middle;
		margin: 10px;
		margin-bottom: 30px;
		font-weight: 100;
	}
	
	.admin-request-list .admin-request-list-item-user .admin-request-list-item-user-school{
		width: 80%;
		margin: 10px 10%;
		max-width: 100px;
		position: relative;
		display: inline-block;
		/*height: 100px;*/
		background-size: auto 60%;
		background-repeat: no-repeat;
		background-position: center;
		background-color: #FFFFFF;
		border-radius: 50%;
		text-align: center;
	}

	
	.admin-request-list .admin-request-list-item-user .admin-request-list-item-user-school img{
		width: 100%;
	}

	.admin-request-list .admin-request-list-item-detail{
		width: 100%;
		/*height: 300px;*/
		display: inline-block;
		vertical-align: top;
		word-break: break-all;
		text-align: justify;
		position: relative;
	}

	.admin-request-list .admin-request-list-item-detail .admin-request-list-item-detail-subject{
		display: block;
		font-weight: 700;
		color: #3d3d3d;
	}

	.admin-request-list .admin-request-list-item-detail .admin-request-list-item-detail-file{
		display: inline-block;
		position: relative;
		width: 80%;
		height: 60px;
		/*text-align: center;*/
		padding: 10px;
		margin-bottom: 10px;

		/*border: 1px solid #231f20;*/
		background-color: #fcfcfc;
		border-radius: 1px;


		/*word-break: break-all;*/
    	white-space: nowrap;
		overflow:hidden;
		text-overflow: ellipsis;
		color: #231f20;
		text-decoration: none;
		vertical-align: middle;
	}

	.admin-request-list .admin-request-list-item-detail .admin-request-list-item-detail-file img{
		height: 40px;
		vertical-align: middle;
		margin-right: 4px;
		/*display: inline-block;*/
	}

	
	.admin-request-list .admin-request-list-item-detail .admin-request-list-item-detail-text{
		display: inline-block;
		position: relative;
		width: 80%;
		min-height: 60px;
		/*text-align: center;*/
		padding: 10px;
		margin-bottom: 10px;

		/*border: 1px solid #231f20;*/
		background-color: #fcfcfc;
		border-radius: 1px;


		/*word-break: break-all;*/
		color: #231f20;
		vertical-align: middle;
	}

	.admin-request-list-item-detail-management{
		position: absolute;
		right: 0px;
		top: 0px;
		display: none;
	}
	
	.admin-request-list-item-detail:hover > .admin-request-list-item-detail-management{
		display: block;
	}	

	.admin-request-list .admin-request-list-item-detail .admin-request-list-item-detail-text img{
		height: 40px;
		vertical-align: middle;
		margin-right: 4px;
		/*display: inline-block;*/
	}

	.admin-request-list-item-detail-comment{
		display: inline-block;
		position: relative;
		width: 80%;
		min-height: 60px;
		/*text-align: center;*/
		padding: 10px;
		margin-bottom: 10px;

		/*border: 1px solid #231f20;*/
		background-color: #fcfcfc;
		border-radius: 1px;


		/*word-break: break-all;*/
		color: #231f20;
		vertical-align: middle;
	}

	.admin-request-list-item-detail-comment textarea{
		width: 100%;
		height: 100px;
		border: none;
		
	}	

	.admin-request-list .admin-request-list-item-detail .admin-request-list-item-detail-time{
		vertical-align: middle;
		font-size: 0.8em;
		display: inline-block;
		width: 20%;
		text-align: right;
	}



	.admin-request-list .admin-request-list-item-status{
		padding: 8px 33px 41px 16px;
		width: 0px;
		height: 0px;
		position: absolute;
		left: 0px;
		top: 0px;
		/*height: 50px;*/
		background-color: #73b290;
		color: #FFF;
		border-bottom-right-radius: 100%;
		text-align: center;
	}

/*
	.admin-request-list td, .admin-request-list th{
		border: 1px solid #7b7c80;
	}*/

	.admin-request-page{
		width: 100%;
		height: auto;
		text-align: center;
		display: block;
		margin-top: 24px;
		 

	}

	.admin-request-page a{
		padding: 5px 10px;
		border: 1px solid #7b7c80;
		text-decoration: none;
		color: #7b7c80;
	}
	.admin-request-page a.selected{
		color: #168046;
		/*border-color: #168046;*/
		border: 2px solid #168046;
		font-weight: 700;
	}


        /* Let's get this party started */
    body *::-webkit-scrollbar {
        width: 12px;
    }
    
    /* Track */
    body *::-webkit-scrollbar-track {
        /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
        -webkit-border-radius: 10px;
        border-radius: 10px;
    }
    
    /* Handle */
    body *::-webkit-scrollbar-thumb {
        -webkit-border-radius: 10px;
        border-radius: 10px;
        background: transparent; 
        /*background: #d3d3d3;*/
        
        /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); */
        
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }

    body *:hover::-webkit-scrollbar-thumb{
        background: #d3d3d3; 
        
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }    

    body *::-webkit-scrollbar-thumb:window-inactive {
        background: transparent;
        /*background: #d3d3d3;*/
        
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }

	.ar-logo{
		width: 20%;
		height: 50px;
		position: absolute;
		left: 0px;
		top: 0px;
		display: block;
		padding: 5px;
		background-color: #fff;
		color: #168046;
		z-index: 40;
	}

	.ar-logo img{
		height: 100%;
		vertical-align: middle;
	}

	.ar-logo i{
		vertical-align: middle;
		margin-right: 6px;
		display: none;
	}

	.ar-logo span{
		/*vertical-align: middle;*/
	}

	.ar-list{
		width: 20%;
		height: 100%;
		padding-top: 50px;
		display: inline-block;
		overflow: hidden;
		overflow-y: scroll;
		vertical-align: bottom;
		background-color: #fcfcfc;
		/*max-height: 100%;*/

	}


	.ar-list .ar-list-item{
		width: 100%;
		height: 50px;
		position: relative;
		margin: 1px 0px;
		cursor: pointer;
		-webkit-transition: all 0.08s ease-in-out;
		-moz-transition: all 0.08s ease-in-out;
		transition: all 0.08s ease-in-out;
	}
	
	.ar-list .ar-list-item:hover{
		background-color: #efefef;
		transform: scale(0.95);
	}

	.ar-list .ar-list-item.selected{
		background-color: #efefef;
		transform: translateX(10px);
	}

	.ar-list .ar-list-item .ar-list-item-status{
		position: absolute;
		display: block;
		width: 10px;
		height: 100%;
		left: 0px;
		top: 0px;
		border: none;

	}

	.ar-list .ar-list-item .ar-list-item-detail{
		margin-left: 10px;
		padding: 3px;
	}

	.ar-list .ar-list-item .ar-list-item-detail .ar-list-item-detail-text{
		width: 100%;
		height: auto;
		display: block;
		
    	white-space: nowrap;
		overflow:hidden;
		text-overflow: ellipsis;
	}

	.ar-view{
		width: 80%;
		height: 100%;
		display: inline-block;
		background-color: #efefef;
		vertical-align: top;
	}

	.ar-view .ar-view-doc{
		width: 65%;
		height: 100%;
		display: inline-block;
		overflow: hidden;
		vertical-align: top;
	}

	.ar-view .ar-view-detail{
		width: 35%;
		height: 100%;
		display: inline-block;
		position: relative;
		vertical-align: top;
		padding: 10px;
		overflow-y: scroll;
	}



	.ar-view .ar-view-detail .ar-view-detail-user{
		width: 100%;
		/*margin-right: 10%;*/
		/*height: 300px;*/
		/*display: inline-block;*/
		position: relative;
		vertical-align: middle;
		margin: 10px;
		margin-bottom: 30px;
		font-weight: 100;
		text-align: center;
	}
	
	.ar-view .ar-view-detail .ar-view-detail-user .ar-view-detail-user-school{
		width: 80%;
		margin: 10px 10%;
		max-width: 100px;
		position: relative;
		display: inline-block;
		/*height: 100px;*/
		background-size: auto 60%;
		background-repeat: no-repeat;
		background-position: center;
		background-color: #FFFFFF;
		border-radius: 50%;
		text-align: center;
	}

	
	.ar-view .ar-view-detail .ar-view-detail-user .ar-view-detail-user-school img{
		width: 100%;
	}

	.ar-view-detail-section{
		width: 100%;
		/*height: 300px;*/
		display: inline-block;
		vertical-align: top;
		word-break: break-all;
		text-align: justify;
		position: relative;
	}

	.ar-view-detail-section .ar-view-detail-section-subject{
		display: block;
		font-weight: 700;
		color: #3d3d3d;
		margin-top: 20px;
		margin-bottom: 10px;
	}

	.ar-view-detail-section .ar-view-detail-section-file{
		display: inline-block;
		position: relative;
		width: 75%;
		margin-left: 5%;
		height: 60px;
		/*text-align: center;*/
		padding: 10px;
		margin-bottom: 10px;

		/*border: 1px solid #231f20;*/
		background-color: #fcfcfc;
		border-left: 4px solid transparent;
		border-radius: 1px;


		/*word-break: break-all;*/
    	white-space: nowrap;
		overflow:hidden;
		text-overflow: ellipsis;
		color: #231f20;
		text-decoration: none;
		vertical-align: middle;
		cursor: pointer;


	}

	.ar-view-detail-section .ar-view-detail-section-file.selected{
		border-left: 4px solid #7b7c80;
	}	

	.ar-view-detail-section .ar-view-detail-section-file img{
		height: 40px;
		vertical-align: middle;
		margin-right: 4px;
		/*display: inline-block;*/
	}

	.ar-view-detail-section .ar-view-detail-section-file .ar-view-detail-section-file-menu{
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0px;
		top: 0px;
		transform: translateX(100%);
		/*background-color: #08c1ce;*/
	}

	.ar-view-detail-section .ar-view-detail-section-file:hover .ar-view-detail-section-file-menu,
	.ar-view-detail-section .ar-view-detail-section-file.selected .ar-view-detail-section-file-menu{
		transform: translateX(0);
	}	

	.ar-view-detail-section .ar-view-detail-section-file .ar-view-detail-section-file-menu .ar-view-detail-section-file-menu-button{
		float: right;
		width: auto;
		height: 100%;
		line-height: 60px;
		padding: 0px 20px;
		background-color: #bbb;
		color: #fff;
		text-decoration: none;
	}

	.ar-view-detail-section .ar-view-detail-section-file .ar-view-detail-section-file-menu .ar-view-detail-section-file-menu-preview{
		/*background-color: rgba(245, 122, 130, 1);*/
		display: none;
	}

	.ar-view-detail-section .ar-view-detail-section-file .ar-view-detail-section-file-menu .ar-view-detail-section-file-menu-download{
		background-color: #73b290;

	}

	
	.ar-view-detail-section .ar-view-detail-section-text{
		display: inline-block;
		position: relative;
		width: 75%;
		margin-left: 5%;
		min-height: 60px;
		/*text-align: center;*/
		padding: 10px;
		margin-bottom: 10px;

		/*border: 1px solid #231f20;*/
		background-color: #fcfcfc;
		border-radius: 1px;


		/*word-break: break-all;*/
		color: #231f20;
		vertical-align: middle;
	}

	.ar-view-detail-section-management{
		position: absolute;
		right: 0px;
		top: 20px;
		/*display: none;	*/
		display: block;
	}

	.ar-view-detail-section-management i{
		margin: 4px;
		cursor: pointer;
	}
	
	.ar-view-detail-section:hover > .ar-view-detail-section-management{
	}	

	.ar-view-detail-section .ar-view-detail-section-text img{
		height: 40px;
		vertical-align: middle;
		margin-right: 4px;
		/*display: inline-block;*/
	}

	.ar-view-detail-section-comment{
		display: inline-block;
		position: relative;
		width: 75%;
		margin-left: 5%;
		min-height: 60px;
		/*text-align: center;*/
		padding: 10px;
		margin-bottom: 10px;

		/*border: 1px solid #231f20;*/
		background-color: #fcfcfc;
		border-radius: 1px;


		/*word-break: break-all;*/
		color: #231f20;
		vertical-align: middle;
	}

	.ar-view-detail-section-comment textarea{
		width: 100%;
		height: 100px;
		border: none;
		
	}	

	.ar-view-detail-section .ar-view-detail-section-time{
		vertical-align: middle;
		font-size: 0.8em;
		display: inline-block;
		width: 20%;
		text-align: right;
	}



    .footer{
        width: 100%;
        height: auto;
        /*min-height: 300px;
        padding: 10px 0px;
		position: relative;*/
		text-align: center;
		background-color: #FFF;
		padding: 60px 0px 30px 0px;
		margin-top: 10%;
    }

	.footer .fa{
		padding: 3px 10px;
		cursor: pointer;
		margin-bottom: 20px;
	}

	.footer a{
		color: #231f20;
	}

	.footer .footer-info{
		display: inline-block;
		color: #7b7c80;
		font-size: 1em;
		margin: 8px;
	}
	.footer .footer-address {
		margin-top: 30px;
	}	

	.footer .footer-powered{
		font-size: 0.8em;
		color: #7b7c80;
		display: block;
		margin-top: 60px;
	}

	.footer .container{
        /*background-color: #fcfcfc;*/
		
	}

    .footer .div4{
        padding: 10px;
        padding-left: 0px;
    }

    .footer .footer-logo{
        
		width: auto;
		height: auto;
		display: inline-block;
		/*display: block;*/
		font-weight: 400;
		font-size: 2.6em;
		margin-bottom: 20px;
		cursor: pointer;
    }

    .footer .footer-menu .footer-menu-title{
        width: 100%;
        height: auto;
        font-weight: 700;
        font-size: 16px;
        color: #231f20;
        
        margin-bottom: 15px;
        display: block;
    }

    .footer .footer-menu a{
        width: auto;
        height: auto;
        font-weight: 100;
        font-size: 16px;
        text-decoration: none;
        color: #7b7c80;

        margin-bottom: 10px;
        display: block;
    }


    .div4{
        width: 25%;
        float: left;
        position: relative;
        height: auto;

    }

    .container{
        width: 100%;
        margin-left: 0%;
        margin-right: 0%;
        /*overflow: hidden;*/
        /*position:  relative;*/
    }

    pre,button,textarea{
        /*font-family: 'KBIZ', sans-serif;*/
        
    }

    .clearfix:before, .clearfix:after {
        display: block;
        content: '';
        clear: both; 
    }
    
    
    @keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }

    /* Firefox < 16 */
    @-moz-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }

    /* Safari, Chrome and Opera > 12.1 */
    @-webkit-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }

    /* Internet Explorer */
    @-ms-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }

    /* Opera < 12.1 */
    @-o-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
    
    @keyframes fadeout {
        from { opacity: 1; }
        to   { opacity: 0; display: none;}
    }

    /* Firefox < 16 */
    @-moz-keyframes fadeout {
        from { opacity: 1; }
        to   { opacity: 0; display: none;}
    }

    /* Safari, Chrome and Opera > 12.1 */
    @-webkit-keyframes fadeout {
        from { opacity: 1; }
        to   { opacity: 0; display: none;}
    }

    /* Internet Explorer */
    @-ms-keyframes fadeout {
        from { opacity: 1; }
        to   { opacity: 0; display: none;}
    }

    /* Opera < 12.1 */
    @-o-keyframes fadeout {
        from { opacity: 1; }
        to   { opacity: 0; display: none;}
    }

    
    @keyframes toptobottom {
        from {
                        
                -moz-transform: translate(0, -100%);
                -webkit-transform: translate(0, -100%);
                -o-transform: translate(0, -100%);
                -ms-transform: translate(0, -100%);
                transform: translate(0, -100%);
            
            }
        to   { 
            
                -moz-transform: translate(0, 0);
                -webkit-transform: translate(0, 0);
                -o-transform: translate(0, 0);
                -ms-transform: translate(0, 0);
                transform: translate(0, 0);


         }
    }

    /* Firefox < 16 */
    @-moz-keyframes toptobottom {
        from {
                        
                -moz-transform: translate(0, -100%);
                -webkit-transform: translate(0, -100%);
                -o-transform: translate(0, -100%);
                -ms-transform: translate(0, -100%);
                transform: translate(0, -100%);
            
            }
        to   { 
            
                -moz-transform: translate(0, 0);
                -webkit-transform: translate(0, 0);
                -o-transform: translate(0, 0);
                -ms-transform: translate(0, 0);
                transform: translate(0, 0);


         }
    }

    /* Safari, Chrome and Opera > 12.1 */
    @-webkit-keyframes toptobottom {
        from {
                        
                -moz-transform: translate(0, -100%);
                -webkit-transform: translate(0, -100%);
                -o-transform: translate(0, -100%);
                -ms-transform: translate(0, -100%);
                transform: translate(0, -100%);
            
            }
        to   { 
            
                -moz-transform: translate(0, 0);
                -webkit-transform: translate(0, 0);
                -o-transform: translate(0, 0);
                -ms-transform: translate(0, 0);
                transform: translate(0, 0);


         }
    }
    /* Internet Explorer */
    @-ms-keyframes toptobottom {
        from {
                        
                -moz-transform: translate(0, -100%);
                -webkit-transform: translate(0, -100%);
                -o-transform: translate(0, -100%);
                -ms-transform: translate(0, -100%);
                transform: translate(0, -100%);
            
            }
        to   { 
            
                -moz-transform: translate(0, 0);
                -webkit-transform: translate(0, 0);
                -o-transform: translate(0, 0);
                -ms-transform: translate(0, 0);
                transform: translate(0, 0);


         }
    }

    /* Opera < 12.1 */
    @-o-keyframes toptobottom {
        from {
                        
                -moz-transform: translate(0, -100%);
                -webkit-transform: translate(0, -100%);
                -o-transform: translate(0, -100%);
                -ms-transform: translate(0, -100%);
                transform: translate(0, -100%);
            
            }
        to   { 
            
                -moz-transform: translate(0, 0);
                -webkit-transform: translate(0, 0);
                -o-transform: translate(0, 0);
                -ms-transform: translate(0, 0);
                transform: translate(0, 0);


         }
    }
}

@media screen and (max-width: 1280px){
	
    .container{
        width: 100%;
        margin-left: 0%;
        margin-right: 0%;
    }

    .div4{
        width: 25%;

    }

	

	.apply_form{
		width: 80%;
		height: auto;
	}
	.apply_form .input_line{
		margin: 40px 8%;
	}   

}

@media screen and (max-width: 640px){

	body{
		font-size: 16px;
	}
	
    .container{
        width: 100%;
        margin-left: 0%;
        margin-right: 0%;
	}

	.header{
		position: fixed;
		top: 0px;
		left: 0px;
		z-index: 300;
		background-color: #fcfcfc;
	}
	
	.header .header-side{
		display: inline;
	}

	.header .header-menu{
		/* display: none; */
		position: fixed;
		height: 100%;
		width: 100%;
		max-width: 200px;
		top: 50px;
		left: -100%;
		z-index: 300;
		background-color: #fcfcfc;
		padding-bottom: 80px;
		border-top: 1px solid #d8d8d8;

		-webkit-transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000); 
		-moz-transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000); 
		-o-transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000); 
		transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000);
	}

	.show-menu .header .header-menu{
		left: 0%;
	}

	.show-menu .wrapper{
		left: 100px;
	}

	.header .header-menu a{
		width: 100%;
		height: 50px;
		display: block;
	}

    .popup>div{
        margin: 0px;
        border: none;
        border-radius: 0px;
        height: 100%;
        overflow-y: auto;
        
    }   

	.intro .intro-title{
		display: block;
	} 

	.intro .intro-content{
		display: none;
	} 

	.title{
		display: block;
	}

	.form-header-wrap {
		background:rgba(255, 255, 255, 0.5);
		padding: 0;
	}

	.about-request .about-section .about-text {
		padding-top: 70px;
		padding-bottom: 40px;
	}
	.about-request .right-align .about-text {
		padding-top: 40px;
	}

	.form-header .container, .about-header .container {
		width: 100%;
		margin: 0;
		padding-top: 0px;
	}

	

	.form-header .container .form-header-top, .about-header .container .about-header-top {
		padding-top: 15px;
		padding-bottom: 40px;

	}

	.form-header .container .form-header-top .form-header-title,
	.form-header .container .form-header-top .form-header-content,
	.about-header .container .about-header-top .about-header-title,
	.about-header .container .about-header-top .about-header-conten{
		margin: 0px;
		padding: 0px;
		text-align: center;
		display: block;
	}

	/*.form-header .container .form-header-top > div,*/
	.form-header .container .form-header-top > span,
	.about-header .container .about-header-top > span {
		background-color: rgba(255, 255, 255, 0.5);
	}

	.form-request-inside{
		width: 100%;
		height: auto;
		float: none;
		box-shadow: unset;
		margin: 0;
		border: none;
		
	}

	.form-request{
		display: none;
	}


	.form .apply_form .input_line{
		margin: 40px 2%;
	}


	
	.intro .intro-a4{
		width: 90%;
	}
	.pricing .pricing-table{
		margin-bottom: 200px;
	}
	
	.pricing .pricing-table .pricing-table-line .pricing-table-line-infomation{
		position: absolute;
		top: 100%;
		left: 0px;
		width: 100%;
		text-align: center;
		z-index: 101;
	}

	.pricing .pricing-table .pricing-table-line .pricing-table-line-infomation .gotoSchool{
		white-space: normal;
	}	

	.school .school-item{
		width: 47%;
	}

    .div4{
        width: 50%;

    }

	.explanation, .reviewer-content .explanation{
		width: 100%;
		height: 150px;
		text-align: center;
	}

	.reviewer-content {
		padding-top: 40px;
	}

	.reviewer-content .explanation{
		height: auto;
		margin-bottom: 30px;
	}

	.explanation .icon{
		width: 50px;
		height: auto;
		position: absolute;
		left: 0px;
		top: 0px;
	}

	.explanation .explanation_subject{
		width: calc(100% - 100px);
		height: auto;
		display: block;
		position: absolute;
		left: 100px;
		top: 10px;
		padding: 0px;
		margin: 0px;
		text-align: left;
	}
	.explanation .explanation_content{
		width: calc(100% - 100px);
		height: auto;
		display: block;
		position: absolute;
		left: 100px;
		top: 40px;
		padding: 0px;
		margin: 0px;
		text-align: left;

	}
	.reviewer-content .explanation-content {
		text-align: center;
	}
	.reviewer-content .explanation:last-child {
		width: 80%;
	}

	.about-request .about-section .about-text {
		width: 100%;
		text-align: center;
	}

	.about-request .about-section img {
		display: none;
	}
	.about-request .right-align .about-text {
		margin: 0;
	}

	.ar-logo{
		width: 100%;
		z-index: 40;
	}

	
	.ar-logo i{
		display: inline;
	}


	.ar-list{
		width: 100%;
		transform: translateX(-100%);
		position: absolute;
		left: 0px;
		top: 0px;
		z-index: 30;
		/*display: none;*/

	}

	.ar-list.selected{
		transform: translateX(0px);
	}

	.ar-view{
		width: 100%;
		padding-top: 50px;

	}

	.ar-view .ar-view-doc{
		width: 100%;
		display: none;
	}

	.ar-view .ar-view-detail{
		width: 100%;
	}

	
	.ar-view-detail-section .ar-view-detail-section-file .ar-view-detail-section-file-menu .ar-view-detail-section-file-menu-preview{
		display: inline;
	}

	.request-content {
		width: 95%;
		margin-left: 2.5%;
		margin-right: 2.5%;
	}

	.checkout-coupon {
		width: 95%;
		margin-left: 2.5%;
		margin-right: 2.5%;
	}

}
@media screen and (max-width: 720px){
	.menus .menu1{
		display: none !important;
	}

	.menus .bars{
		display: inline-block;
	}
}
@media screen and (max-width: 480px){

	body{
		font-size: 14px;
	}
	
    .container{
        width: 100%;
        margin-left: 0%;
        margin-right: 0%;
    }

    .popup>div{
        margin: 0px;
        border: none;
        border-radius: 0px;
        height: 100%;
        overflow-y: auto;
    }    
	.school .school-item{
		width: 100%;
		margin-left: 0%;
		margin-right: 0%;
	}
	.about h1 {
		text-align: center;
	}
	.about .about_section {
		width: 100%;
		margin-left: 0%;
		margin-right: 0%;
	}
	.about .section_us::after {
		display: none;
	}
	.about .container .about_article {
		padding: 0 10px;
	}

    .div4{
        width: 50%;
    }
}

/*@media screen and (min-width: 1281px){
	
    .container{
        width: 1280px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 1280px){
	
    .container{
        width: 1280px;
        margin-left: auto;
        margin-right: auto;
    }
}*/

@media screen and (min-width: 641px){
	
	.form-header .container .form-header-top{
		background: none !important;
	}

	body{
		/*font-size: 18px;*/
	}
	
}

@media screen and (min-width: 1280px){
	
    .container{
        width: 1280px;
        margin-left: auto;
        margin-right: auto;
    }

    .div4{
        width: 25%;
    }

	
}

@media screen and (min-width: 1366px){
	
    .container{
        width: 1280px;
        margin-left: auto;
        margin-right: auto;
    }
    .div4{
        width: 25%;

    }
}

@media screen and (min-width: 1920px){
	
    .container{
        width: 1280px;
        margin-left: auto;
        margin-right: auto;
    }
    .div4{
        width: 25%;

    }
}

.global_loading{
	width: 100%;
	height: 100%;
	position: fixed;
	/*background-color: rgba(0,0,0,.25);*/
	z-index: 1500;
}

.mask-loading {
  widows: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .75);
}
.spinner {
  width: 50px;
  height: 50px;
  position: relative;
  margin: 0 auto;
  top: 50%;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
