<head>
    <link rel="stylesheet" href="/static/css/baogao.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="/static/js/find_login_info.js"></script>
    <script src="/static/js/sha256.jquery.js"></script>
</head>

	<div class="find-info-request">
		<div class="container">
			<form class="frmFindPass">
				<span class="find-title">password 찾기</span><br>
				<input type="email" placeholder="E-mail" name="email" /><br>
				<button class="find_btn" type="submit">비밀번호 찾기</button><br>
				<!-- <button class="fb_btn">facebook login</button><br>
				<button class="naver_btn">naver login</button><br> -->

				<span class="join_btn">회원가입</span>
				<span class="login_btn">login</span>
			</form>
		</div>
	</div>

