<head>
    <link rel="stylesheet" href="/static/css/baogao.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="/static/js/join_us.js"></script>
    <script src="/static/js/sha256.jquery.js"></script>
</head>

<div class="form-header" style="border-top-color: #168046;">
		<div class="container" style="padding-bottom:10px;">
			<div class="form-header-top">
				<div class="form-header-back"><i class="ion-ios-arrow-left"></i></div>
				<div class="form-header-logo">
					<img src="/static/img/baogao.png" style="height: 30px; vertical-align: middle;" />&nbsp;회원가입
				</div>
				<div class="clearfix"></div>

				<div class="container join_wrap">
					<span class="join-title">
						회원가입
					</span>

					<div class="form-join">
						<form id="joinForm">
							 <!-- action="/api2/v2/signUp" method="post" -->
							<div class="member-join">
								<h3>기본정보</h3>
								<p class="required">
									<sup>*</sup>&nbsp;필수입력사항
								</p>
								<div class="clearfix"></div>
								<div class="join_board">
									<table>
										<caption>회원 기본정보</caption>
										<tbody>
											<tr>
												<th>E-mail&nbsp;<sup>*</sup></th>
												<td>
													<input id="join-email" name="email" type="email" required />
													<a href="#" class="check_email">e-mail 중복확인 <i class="fa fa-chevron-right" aria-hidden="true"></i></a><span class="possible_mail"></span>
												</td>
											</tr>
											<tr>
												<th>password&nbsp;<sup>*</sup></th>
												<td class="passwd_input">
													<input id="join-pass" name="passwd" autocomplete="off" minlength="4" maxlength="16" type="password" required />
													<span class="help_text">(영문 대소문자/숫자 4자~16자)</span>
												</td>
											</tr>
											<tr>
												<th>password 확인&nbsp;<sup>*</sup></th>
												<td>
													<input id="user_passwd_confirm" name="user_passwd_confirm" autocomplete="off" maxlength="16" type="password" required />
													<span class="check_password"></span>
												</td>
											</tr>
											<tr>
												<th>school&nbsp;<sup>*</sup></th>
												<td>
													<select id="join-school" name="school" required>
														<option value="" selected="selected">선택하세요</option>
														<option value="1">고려대학교/高丽大学</option>
														<option value="2">이화여자대학교/梨花女子大学</option>
														<option value="5">연세대학교/延世大学</option>
														<option value="6">중앙대학교/中央大学</option>
														<option value="7">한양대학교/汉阳大学</option>
														<option value="8">경희대학교/庆熙大学</option>
														<option value="9">성균관대학교/成均馆大学</option>
														<option value="10">건국대학교/建国大学</option>
														<option value="11">한국외국어대학교/韩国外国语大学</option>
														<option value="12">서강대학교/西江大学</option>
														<option value="13">서울대학교/国立首尔大学</option>
														<option value="14">동국대학교/东国大学</option>
														<option value="15">국민대학교/国民大学</option>
														<option value="16">홍익대학교/弘益大学</option>
														<option value="17">상명대학교/祥明大学</option>
													</select>
												</td>
											</tr>
											<tr>
												<th id="nameTitle">전공&nbsp;<sup>*</sup></th>
												<td>
													<span id="majorContents">
														<input type="text" name="major" id="major" maxlength="20" required />
													</span>
												</td>
											</tr>
											<tr class="displaynone">
												<th>name&nbsp;<sup>*</sup></th>
												<td>
													<input id="name" name="name" class="name" placeholder="" maxlength="30" value="" type="text" required />
												</td>
											</tr>
											<tr id="school-year">
												<th>입학년도&nbsp;<sup>*</sup></th>
												<td>
													<input name="school-year" type="number" min="1900" max="2099" step="1" value="2017" required/> 년
												</td>
											</tr>
											<tr>
												<th>휴대전화&nbsp;<sup>*</sup></th>
												<td class="mobile">
													<select id="mobile1" name="mobile[]" required>
														<option value="010">010</option>
														<option value="011">011</option>
														<option value="016">016</option>
														<option value="017">017</option>
														<option value="018">018</option>
														<option value="019">019</option>
													</select>&nbsp;-&nbsp;<input id="mobile2" name="mobile[]" maxlength="4" value="" type="text" required
													/>&nbsp;-&nbsp;
													<input id="mobile3" name="mobile[]" maxlength="4" value="" type="text" required />
												</td>
											</tr>
											<tr id="weChat">
												<th>위챗 ID</th>
												<td>
													<input id="weChat-id" name="weChat-id" class="inputTypeText" placeholder="" maxlength="20" value="" type="text" />
												</td>
											</tr>
											<tr>
												<th>추천인 e-mail</th>
												<td>
													<input name="recommender" class="inputTypeText" placeholder="" maxlength="20" type="email" /></td>
											</tr>
										</tbody>
									</table>
								</div>


								<div class="join_board typeAddinfo">
									<h3>추가정보</h3>
									<table>
										<caption>회원 추가정보</caption>
										<tbody>
											<tr>
												<th>생년월일</th>
												<td>
													<input id="birth_year" name="birth_year" class="inputTypeText" placeholder="ex) 870101" maxlength="6" value="" type="text" />													<!--년 <input id="birth_month" name="birth_month" class="inputTypeText" placeholder="" maxlength="2" value="" type="text"
													/> 월
													<input id="birth_day" name="birth_day" class="inputTypeText" placeholder="" maxlength="2" value="" type="text" />													일 --><span class="birth displaynone"><input id="is_solar_calendar0" name="is_solar_calendar" value="T" type="radio" checked="checked"><label for="is_solar_calendar0">양력</label><input id="is_solar_calendar1" name="is_solar_calendar" value="F" type="radio"><label for="is_solar_calendar1">음력</label></span>
												</td>
											</tr>
										</tbody>
									</table>
								</div>

								<div class="join_board typeAddinfo">
									<h3>개인정보취급방침 및 이용약관</h3>
									<table>
										<caption>개인정보취급</caption>
										<tbody>
											<tr class="">
												<th>이용약관</th>
												<td>
													<div class="agreeArea">
														<div class="agree"></div>
														<p class="check">
															<span><a href="http://ciceron.me/privacy" target="_blank">개인정보취급방침</a> 및 <a href="http://ciceron.me/terms" target="_blank">이용약관</a>에 동의합니다.</span>
															<input id="agree_service_check0" value="1" type="checkbox" required>
															<label for="agree_service_check0">동의함</label>
														</p>
													</div>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
								
								<div class="btnArea center">
									<button type="submit" class="signup">회원가입</button>
									<button type="button" class="join_cancel">가입취소</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
