<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>강의 상세 페이지</title>
    <style>
        body{
            padding: 5%;
        }
        fieldset{
            width: 500px;
            border: 1px solid #dcdcdc;
            padding : 10px;
            text-align: left;
        }
        legend{
            padding: 10px 20px;
            color: dimgrey;
        }
        th{
            font-size: large;
            text-align: center;
            background-color: #999999;
        }
        td{
            padding: 10px;
            border-bottom: 1px solid lightgray;
            border-top: 1px solid lightgray;
        }
        button{
            width: 50px;
            height: 25px;
            border: 1px black;
            background-color: gray;
            text-align: center;
            cursor: pointer;
        }
        table{
            width:100%;
        }
    </style>
</head>
<body>
<p>
    <form action="{{ url_for('lectureList') }}" method="POST" enctype="multipart/form-data">
        <input type="submit" value="전체 리스트로 돌아가기">
        <input type="hidden" value="{{ entries[0].school_id }}" name="school_id">
    </form></p>

<h2>{{ entries[0].name }}</h2>
<h3>{{ entries[0].professor }}</h3>
<form action="{{ url_for('updateNewArticle') }}" method="POST" enctype="multipart/form-data">
    <fieldset>
        <legend>请评价下这门课吧!</legend>
        <label>評分 :</label>
            <select name="rate">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        <label>  选修年度 : <input type="text" name="year" placeholder="例子) 2017"></label>
        <label>  选修学期 :</label>
            <select name="semester">
                <option value="1">1학기</option>
                <option value="S">여름계절</option>
                <option value="2">2학기</option>
                <option value="W">겨울계절</option>
            </select>
        <p>
            <textarea name="comment" rows="7" cols="70"></textarea>
        </p>
        <input type="hidden" value="{{ entries[0].lecture_id }}" name="lecture_id">
        <input type="hidden" value="{{ entries[0].school_id }}" name="school_id">
        <input type="submit" value="提交">
    </fieldset>
</form>
<br/><br/><br/>
<table>
        <tr>
            <th scope="col" width="30">序号</th>
            <th scope="col" width="40">評分</th>
            <th scope="col" width="50">原文</th>
            <th scope="col" width="50">中文翻译</th>
            <th scope="col" width="50">在这里输入翻译文本</th>
        </tr>
        {% for entry in entries %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ entry.rate }}점</td>
                <td>{{ entry.text|safe }}</td>
                <td>{{ entry.translated|safe }}</td>
                <td>
                    <form action="{{ url_for('updateTranslation') }}" method="POST" enctype="multipart/form-data">
                        <input type="hidden" value="{{ entry.school_id }}" name="school_id">
                        <input type="hidden" value="{{ entry.article_id }}" name="article_id">
                        <input type="hidden" value="{{ entry.lecture_id }}" name="lecture_id">
                        <input type="hidden" value="{{ entry.name }}" name="name">
                        <label>翻译官姓名:<input type="text" name="who" size="20"></label>
                        <textarea name="translated" rows="5" cols="60"></textarea>
                        <input type="submit" value="提交">
                    </form>
                </td>
            </tr>
        {% endfor %}
</table>

</body>
</html>
