<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>강의평가 리스트</title>
    <style>
        body{
            padding: 5%;
        }
        th{
            font-size: large;
            text-align: center;
            background-color: #999999;
        }
        td{
            padding: 10px;
            border-bottom: 1px solid lightgray;
            border-top: 1px solid lightgray;
        }
        table{
            width : 100%
        }
        button{
            width: 50px;
            height: 25px;
            border: 1px black;
            background-color: gray;
            text-align: center;
            cursor: pointer;
        }
        h2,h3{
            text-align: right;
        }
    </style>
</head>
<body>
<h1>[baogao – 课程评价翻译网站]</h1>
<h2>搜课程
    {% set school_id=entries[0].school_id %}
    <form action="{{ url_for('lectureList') }}" method="POST" enctype="multipart/form-data">
        <input type="text" name="search" size="50">
        <input type="hidden" name="school_id" value="{{ school_id }}">
        <button type="submit">搜索</button>
    </form></h2>
<h3>搜翻译官姓名
    {% set school_id=entries[0].school_id %}
    <form action="{{ url_for('lectureList') }}" method="POST" enctype="multipart/form-data">
        <input type="text" name="translator" size="50">
        <input type="hidden" name="school_id" value="{{ school_id }}">
        <button type="submit">搜索</button>
    </form></h3>

{% block body %}
    <ul class="entries">
    <table>
        <tr>
            <th scope="col" width="10">序号</th>
            <th scope="col" width="100">课名</th>
            <th scope="col" width="100">教授名</th>
            <th scope="col" width="500">原文</th>
            <th scope="col" width="500">翻译</th>
            <th scope="col" width ="70">点击看详情</th>
        </tr>
            {% for entry in entries %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ entry.name }}</td>
                    <td>{{ entry.professor }}</td>
                    <td>{{ entry.text|safe }}</td>
                    <td>{{ entry.translated|safe }}</td>
                    <td><form action="{{ url_for('lectureDetail') }}" method="POST" enctype="multipart/form-data">
                        <input type="submit" value="点击看详情" name="entire">
                        <input type="hidden" value="{{ entry.lecture_id }}" name="lecture_id">
                    </form></td>
                </tr>
            {% endfor %}
    </table>
    </ul>
{% endblock %}
</body>
</html>
