	<!-- <div class="login">
		<div class="container">
			<div class="intro-logo">
				<img src="/img/baogao_green.png" style="height: 1em; vertical-align: middle;" />
				<nav>
					<ul class="menus" style="padding-left: 0px;">
						<li class="menu1"><a href="#about">About</a></li>
						<li class="menu1"><a href="#pricing">Pricing</a></li>
						<li class="menu1"><a href="/event/quiz">한국어퀴즈<sup style="color: lightcoral;">event</sup></a></li>
						<li class="menu2"><a href="#school">点这里，选择所属大学</a></li>
					</ul>
				</nav>
				<div class="clearfix"></div>
			</div>
		</div>
	</div> -->
    <head>
        <link rel="stylesheet" href="/static/css/baogao.css" />
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.min.css">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
        <script src="/static/js/login.js"></script>
        <script src="/static/js/sha256.jquery.js"></script>
    </head>
	<div class="login-request">
		<div class="container">
			<form class="frmLogin">
				<span class="login-title">member login</span><br>
				<input type="email" placeholder="E-mail" name="email" /><br>
				<input type="password" placeholder="password" name="password" /><br>
				<button class="login_btn" type="submit">login</button><br>
				<!-- <button class="fb_btn">facebook login</button><br>
				<button class="naver_btn">naver login</button><br> -->

				<span class="join_btn">회원가입</span>
				<span class="search_id">아이디찾기 / 비밀번호찾기</span>
			</form>
		</div>
	</div>
	<!-- <div class="clearfix"></div> -->

