<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>학교를선택하자</title>
    <style>
        h3{
            color: navy;
        }
        button{
            width: 50px;
            height: 25px;
            border: 1px black;
            background-color: beige;
            text-align: center;
            cursor: pointer;
        }
        select{
            width: 100px;
            height: auto;
            padding: .8em .5em;
            border: 1px solid #999
        }
    </style>
</head>
<body>
    <h3>번역할 학교를 선택하세요</h3>
    <form action="{{ url_for('schoolList') }}" method="POST">
        <select name="school_id">
            <option value="6">이화여대</option>
            <option value="22">고려대</option>
            <option value="1">연세대</option>
            <option value="32">서울대</option>
            <option value="20">서강대</option>
            <option value="9">성균관대</option>
            <option value="4">한양대</option>
            <option value="2">중앙대</option>
            <option value="35">동국대</option>
            <option value="17">건국대</option>
            <option value="13">상명대</option>
            <option value="10">홍익대</option>
            <option value="38">국민대</option>
            <option value="18">한국외대</option>
            <option value="5">경희대</option>
        </select>
        <button type="submit">확인</button>
    </form>

</body>
</html>