<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>학교를선택하자</title>
    <style>
        h3{
            color: navy;
        }
        button{
            width: 50px;
            height: 25px;
            border: 1px black;
            background-color: beige;
            text-align: center;
            cursor: pointer;
        }
        select{
            width: 100px;
            height: auto;
            padding: .8em .5em;
            border: 1px solid #999
        }
    </style>
</head>
<body>
    <h3>학교를 선택하세요</h3>
    <form action="{{ url_for('show_schools') }}" method="POST">
        <select name="school_id">
            <option value="6">이화여대/梨花女子大学</option>
            <option value="22">고려대/高丽大学</option>
            <option value="1">연세대/延世大学</option>
            <option value="32">서울대/国立首尔大学</option>
            <option value="20">서강대/西江大学</option>
            <option value="9">성균관대/成均馆大学</option>
            <option value="4">한양대/汉阳大学</option>
            <option value="2">중앙대/中央大学</option>
            <option value="35">동국대/东国大学</option>
            <option value="17">건국대/建国大学</option>
            <option value="13">상명대/祥明大学</option>
            <option value="10">홍익대/弘益大学</option>
            <option value="38">국민대/国民大学</option>
            <option value="18">한국외대/韩国外国语大学</option>
            <option value="5">경희대/庆熙大学</option>
        </select>
        <button type="submit">확인</button>
    </form>

</body>
</html>
