<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>보여</title>
    <style>
        th{
            font-size: large;
            border-bottom: 2px solid #111111;
            border-top: 1px solid #999;
            text-align: center;
        }
        td{
            background-color: beige;
            padding: 10px;
        }
        button{
            width: 50px;
            height: 25px;
            border: 1px black;
            background-color: beige;
            text-align: center;
            cursor: pointer;
        }
        h2,h3{
            text-align: right;
        }
    </style>
</head>
<body>
<h1>[baogao – 课程评价翻译网站]</h1>
<h2>搜课程
    {% set school_id=entries[0].school_id %}
    <form action="{{ url_for('show_entries') }}" method="POST">
        <input type="text" name="search" size="50">
        <input type="hidden" name="school_id" value="{{ school_id }}">
        <button type="submit">搜索</button>
    </form></h2>
<h3>搜翻译官姓名
    {% set school_id=entries[0].school_id %}
    <form action="{{ url_for('show_entries') }}" method="POST">
        <input type="text" name="translator" size="50">
        <input type="hidden" name="school_id" value="{{ school_id }}">
        <button type="submit">搜索</button>
    </form></h3>

{% block body %}
    <ul class="entries">
    <table>
        <tr>
            <th scope="col" width="10">序号</th>
            <th scope="col" width="100">课名</th>
            <th scope="col" width="100">教授名</th>
            <th scope="col" width="500">原文</th>
            <th scope="col" width="500">翻译</th>
            <th scope="col">在这里输入翻译文本</th>
            <th schop="'col" width ="500">전체보기</th>
        </tr>
            {% for entry in entries %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ entry.name }}</td>
                    <td>{{ entry.professor }}</td>
                    <td>{{ entry.text|safe }}</td>
                    <td><strong>번역가: {{ entry.who }}</strong><br/>{{ entry.translated|safe }}</td>
                    <td>
                        <form action="{{ url_for('add_entry') }}" method="POST">
                            <input type="hidden" value="{{ entry.school_id }}" name="school_id">
                            <input type="hidden" value="{{ entry.article_id }}" name="article_id">
                            <input type="hidden" value="{{ entry.name }}" name="name">
                            <label>翻译官姓名:
                                <input type="text" name="who" size="20"></label>
                            <br/><label>原文翻译:
                            <textarea name="translated" rows="5" cols="60"></textarea></label>
                            <input type="submit" value="提交">
                        </form>
                    </td>
                    <td><form method="POST">
                        <input type="submit" value="전체보기">
                    </form></td>
                </tr>
            {% endfor %}
    </table>
    </ul>
{% endblock %}
</body>
</html>